<div class="nav-side-menu">
    <div class="brand">
        <a routerLink="/dashboard">
            <img src="../../assets/images/logo.png" class="img-responsive" />
        </a>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list accordion" *ngIf="isLoggedIn" id="accordionExample">  
          <ul *ngFor="let cnavitem of menu"  id="menu-content" class="menu-content collapse out">
            <li  data-toggle="collapse" [attr.data-target]="'#a' + cnavitem.menuGroup" class="collapsed active">
                <a>{{cnavitem.name}} <span class="arrow"></span></a>
            </li>
             <ul class="sub-menu collapse" [attr.id]="'a'+cnavitem.menuGroup" data-parent="#accordionExample">
                <li *ngFor="let itms of cnavitem.menus" [routerLink]="itms.route" routerLinkActive="active" (click)="clearPopupSessions()">
                    <a>
                        {{itms.name}}
                    </a>
                </li> 
            </ul>
          </ul>
          <!-- <a class="main-nav-anc" routerLink="lasering-search" routerLinkActive="active">Lasering</a> -->
          <!-- <a class="main-nav-anc" target="_blank" href="http://qwim4-obiee01.qdint.local:9502/analytics/saw.dll?dashboard&PortalPath=%2Fshared%2FStop%20Loss%2F_portal%2FStop%20Loss">
          </a> -->
            <!-- <a class="main-nav-anc" target="_blank" href="https://obianalyticsstg.corp.medica.com/analytics/saw.dll?Dashboard">Reports</a>             -->
            <!-- <a class="main-nav-anc" target="_blank" href="https://obianalyticsstg.corp.medica.com/analytics/saw.dll?Portal&PortalPath=%2Fshared%2FStop%20Loss%2F_portal%2FStop%20Loss">Reports</a> --> <!-- uat reports -->
            <a class="main-nav-anc" target="_blank" href="https://obianalytics.corp.medica.com/analytics/saw.dll?dashboard&PortalPath=%2Fshared%2FStop%20Loss%2F_portal%2FStop%20Loss">Reports</a>
          <br/>
          <br/>
          <!-- <ul>
            <li routerLink="/lasering" routerLinkActive="active" style="color: white">Lasering</li>
          </ul> 
          <br/>-->
          <!-- <ul id="menu-content" class="menu-content collapse out">

            <li  data-toggle="collapse" class="collapsed active" data-target="#g2">
              <a>Reports <span class="arrow"></span></a>
          </li>
           <ul class="sub-menu collapse" data-parent="#accordionExample" id="g2">
              <li routerLink="specific-stoploss-report" routerLinkActive="active">
                  <a>Specific Stop Loss</a>
              </li> 
              <li routerLink="aggregate-stoploss-report" routerLinkActive="active">
                  <a>Aggregate Stop Loss</a>
              </li> 
              <li routerLink="max-liability-report" routerLinkActive="active">
                  <a>Max Liability</a>
              </li> 
          </ul>
        </ul> -->
        <!-- <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-head" id="headingOne">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-head" id="headingTwo">
                    <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-head" id="headingThree">
                    <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                    </div>
                  </div>
                </div>
              </div> -->
    </div>
</div>