<div class="page-content">

  <div class="card custom-card">
    <div class="card-header">
      <h3>Product</h3>
      <div class="edit-update-alert">
        <!-- <alert></alert> -->      
      </div>
    </div>

    <div class="card-body">
      <div class="select-grid-wrap">
        <div class="select-grid-header">
          <div>
            <label class="form-field-label">
              Search Product
            </label>
            <div class="search-field-clear-area">   
              <div fxLayout fxLayoutAlign="center center">
                <mat-form-field fxFlex="40%">
                  <input matInput type="text" #filterSearchInput [value]="searchInputValue" (keyup)="doFilter($event.target.value)"  (focus)="doFilter($event.target.value)" placeholder="Search a Product">
                </mat-form-field>
              </div> 
              <div class="clear-btn-div">
                <button type="button" class="btn btn-outline-secondary" (click)="clearSearchInput()">Clear</button>
              </div>
            </div> 
          </div>
        </div>
        <div class="card-table-area">
          <div class="table-responsive">
            <div class="cust-add-area">
              <span class="fa fa-plus-circle" (click)="openCustomModal(true, null); " *ngIf="isAdmin"></span>
            </div>
            <div class="mat-elevation-z8">
              <table mat-table matSort #planTable [dataSource]="dataSource"
                class="table table-bordered table-striped table-hover card-table">

                <ng-container matColumnDef="clientName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
                  <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                </ng-container>
                <ng-container matColumnDef="contractId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract </th>
                  <td mat-cell *matCellDef="let element"> {{element.contractId}} </td>
                </ng-container>
                <ng-container matColumnDef="claimBasis">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Claim Basis </th>
                  <td mat-cell *matCellDef="let element"> {{element.aslClaimBasis}} </td>
                </ng-container>
                <ng-container matColumnDef="productId">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element" class="action-link">
                    <span class="view-icon" 
                          (click)="openViewModal(true,  element.contractId)" title="View"></span>
                    <span class="fa fa-edit" (click)="openCustomModal(true, element.contractId)" title="Update" *ngIf="isAdmin"></span>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div class="grid-footer">
                <div class="col_1">
                  <a class="text-primary" (click)="goBackPreviousNoFilter()">Back</a>
                </div>
                <div class="col_2">
                  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add/Update Plans Modal -->
<div class="modal fade product-modal" role="dialog" [ngClass]="{'view-modal':isViewModal}" [ngStyle]="{'display': isCustomModalOpen ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 80vw; margin-top: 13vh;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="!isViewModal">
          <span *ngIf="isAddMode">Add Product</span>
          <span *ngIf="!isAddMode">Update Product</span>
        </h4>
        <h4 class="modal-title" *ngIf="isViewModal">Product</h4>
        <div>
          <alert></alert>
          <a class="fa fa-2x fa-times-circle" (click)="openCustomModal(false, null)"></a>
        </div>

      </div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div *ngIf="loaderService.isLoading | async" class="loader-container"><!--added by venkatesh Enigonda-->
            <mat-spinner  [diameter]="75" style="top:37%;left:43%"></mat-spinner>
            </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="mandate-fields">
          <span *ngIf="submitted && (!productForm.valid && !productForm.errors?.dates)">Fields marked with * are mandatory</span>
          <span *ngIf="productForm.errors">{{ productForm.errors?.dates | json }}</span>
          <span *ngIf="sslIncurredEndErr.isDateErr">{{sslIncurredEndErr.dateErrMsg}}</span>
          <span *ngIf="sslPaidEndErr.isDateErr">{{sslPaidEndErr.dateErrMsg}}</span>
          <span *ngIf="aslIncurredEndErr.isDateErr">{{aslIncurredEndErr.dateErrMsg}}</span>
          <span *ngIf="aslPaidEndErr.isDateErr">{{aslPaidEndErr.dateErrMsg}}</span>
          <span *ngIf="sslTermCovrErr.isDateErr">{{sslTermCovrErr.dateErrMsg}}</span>
          <span *ngIf="aslTermCovrErr.isDateErr">{{aslTermCovrErr.dateErrMsg}}</span>
          <span *ngIf="sslDeductibleErr.isValid">{{sslDeductibleErr.errMsg}}</span>
          <span *ngIf="sslClaimBasisErr.isValid">{{sslClaimBasisErr.errMsg}}</span>
          <span *ngIf="aslClaimBasisErr.isValid">{{aslClaimBasisErr.errMsg}}</span>
          <span *ngIf="sslSPecificErr.isDateErr">{{sslSPecificErr.dateErrMsg}}</span> <!--Modified by Venkatesh Enigonda-->
          <span *ngIf="aslAggregateErr.isDateErr">{{aslAggregateErr.dateErrMsg}}</span>    
          <span *ngIf="sslExInStartEndDateErr.isDateErr">{{sslExInStartEndDateErr.dateErrMsg}}</span>
          <span *ngIf="sslExInStartDateErr.isDateErr">{{sslExInStartDateErr.dateErrMsg}}</span>
          <span *ngIf="sslExPaidStartEndDateErr.isDateErr">{{sslExPaidStartEndDateErr.dateErrMsg}}</span>
          <span *ngIf="sslExPaidStartDateErr.isDateErr">{{sslExPaidStartDateErr.dateErrMsg}}</span>  
          <div *ngIf="duplicateContractErr.flag">{{duplicateContractErr.message}}</div>     
          <div *ngIf="contractPeroidErr.flag">{{contractPeroidErr.message}}</div>
          
          <span *ngIf="y2sslSPecificErr.isDateErr">{{y2sslSPecificErr.dateErrMsg}}</span> <!--Modified by Venkatesh Enigonda-->
          <span *ngIf="y2sslDeductibleErr.isValid">{{y2sslDeductibleErr.errMsg}}</span>
          <span *ngIf="y2sslClaimBasisErr.isValid">{{y2sslClaimBasisErr.errMsg}}</span>
          <span *ngIf="y2sslTermCovrErr.isDateErr">{{y2sslTermCovrErr.dateErrMsg}}</span>
          <span *ngIf="y2sslIncurredEndErr.isDateErr">{{y2sslIncurredEndErr.dateErrMsg}}</span>
          <span *ngIf="y2sslPaidEndErr.isDateErr">{{y2sslPaidEndErr.dateErrMsg}}</span>
          <span *ngIf="y2sslExInStartEndDateErr.isDateErr">{{y2sslExInStartEndDateErr.dateErrMsg}}</span>
          <span *ngIf="y2sslExInStartDateErr.isDateErr">{{y2sslExInStartDateErr.dateErrMsg}}</span>
          <span *ngIf="y2sslExPaidStartEndDateErr.isDateErr">{{y2sslExPaidStartEndDateErr.dateErrMsg}}</span>
          <span *ngIf="y2sslExPaidStartDateErr.isDateErr">{{y2sslExPaidStartDateErr.dateErrMsg}}</span> 
         </div>  
          <div class="product-form-wrap">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Account<small class="starmark">*</small> </label>
                  <select #focusElem formControlName="clientId" class="form-control" (change)="getContractIDs($event.target.value)" [ngClass]="{ 'is-invalid': submitted && f.clientId.errors }">
                    <option *ngFor="let client of activeClients" [value]="client.clientId">
                      {{client.clientName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contract<small class="starmark">*</small></label>
                  <select class="form-control" formControlName="contractId" (change)="checkDuplicateContract($event.target.value)" [ngClass]="{ 'is-invalid': duplicateContractErr.flag}">
                    <option value='' *ngIf="isAddMode"></option>
                    <option *ngFor="let obj of contractsByClientId" [value]="obj.contractId">
                      {{obj.contractId}} 
                      <!-- <span *ngIf="obj.description.length>0">({{obj.description}})</span> -->
                    </option> 
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <!-- <div class="form-group switch-group" *ngIf="!isAddMode">
                  Active
                    <label class="switch">
                      <input type="checkbox" class="success" formControlName="status">
                      <span class="slider round"></span>
                    </label>                  
                </div>  -->
              </div>
            </div>
            <h1 class="text-primary">Specific Stop Loss 
              <!-- <select formControlName="contractPeriod" (change)="getProductByContractPeriod($event.target.value)" [ngClass]="{ 'is-invalid': submitted && f.contractPeriod.errors }">
                <option value="Year 1" selected="selected">Year 1</option>
                <option value="Year 2" *ngIf="!isAddMode">Year 2</option>
              </select> -->

            </h1>
            <fieldset class="product-fieldset">
              <legend>{{contractPeriodLabel}}</legend>
          <div class="ssl-section">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Claim Basis<small class="starmark">*</small></label>
                    <!-- <input type="text" formControlName="sslClaimBasis" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sslClaimBasis.errors }"/> -->
                    <!-- <select class="form-control" formControlName="sslClaimBasis" [ngClass]="{ 'is-invalid': submitted && f.sslClaimBasis.errors }"> -->
                      <!-- <option value="12/12">12/12</option>
                      <option value="12/15">12/15</option>
                      <option value="12/18">12/18</option>
                      <option value="15/12">15/12</option>
                      <option value="24/12">24/12</option> -->
                <!-- <option [value]="i" *ngFor="let i of claimBasis">
                  {{i}}
                  </option>
                    </select>  -->

                    <input type="text" formControlName="sslClaimBasis" class="form-control" placeholder="MM/MM" maxlength="5" [ngClass]="{ 'is-invalid': submitted && f.sslClaimBasis.errors || sslClaimBasisErr.isValid }"/><!--Modified by Venkatesh Enigonda-->
                  </div>                
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Incurred Start Date<small class="starmark">*</small></label>
                    <input type="date" value="MM/DD/yyyy" formControlName="sslIncurredStartDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sslIncurredStartDate.errors || sslIncurredEndErr.isDateErr }" max="2999-12-31"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Incurred End Date<small class="starmark">*</small></label>
                    <input type="date" value="MM/DD/yyyy" formControlName="sslIncurredEndDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sslIncurredEndDate.errors || sslIncurredEndErr.isDateErr }" max="2999-12-31"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Specific Start Date</label>
                    <input type="date" value="MM/DD/yyyy" formControlName="sslContractStartDate" class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid':sslSPecificErr.isDateErr}"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Specific End Date</label>
                    <input type="date" value="MM/DD/yyyy" formControlName="sslContractEndDate" class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid':sslSPecificErr.isDateErr}"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Run-In Limit</label>
                    <input type="number" formControlName="sslRunInLimit" class="form-control"/>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Paid Start Date<small class="starmark">*</small></label>
                    <input type="date" value="MM/DD/yyyy" formControlName="sslPaidStartDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sslPaidStartDate.errors || sslPaidEndErr.isDateErr  }" max="2999-12-31"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Paid End Date<small class="starmark">*</small></label>
                    <input type="date" value="MM/DD/yyyy" formControlName="sslPaidEndDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sslPaidEndDate.errors || sslPaidEndErr.isDateErr }" max="2999-12-31"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Specific Deductible<small class="starmark">*</small></label>
                    <input type="number" formControlName="sslDeductible" class="form-control" [ngClass]="{ 'is-invalid': submitted && sslDeductibleErr.isValid }"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Aggregating Specific Deductible</label>
                    <input type="number" formControlName="sslAggDeductible" class="form-control"/>
                  </div>
                </div> 
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Limit of Liability - Contract</label>
                    <input type="number" formControlName="sslAnnualLimit" class="form-control"/>
                  </div>              
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Limit of Liability - Lifetime</label>
                    <input type="number" formControlName="sslLifetimeLimit" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="row"> 
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Limit of Liability - Participant</label>
                    <input type="number" formControlName="sslPartcipantLimit" class="form-control"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Limit of Liability - Pharmacy Claims Contract</label>
                    <input type="number" onkeypress="return ((event.charCode !=8 && event.charCode ==0) || (event.charCode == 46)||(event.charCode >= 48 && event.charCode <= 57))" class="form-control" formControlName="sslPharmContractLimit"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Limit of Liability - Pharmacy Claims Participant</label>
                    <input type="number" onkeypress="return ((event.charCode !=8 && event.charCode ==0) ||(event.charCode == 46)||(event.charCode >= 48 && event.charCode <= 57))"class="form-control" formControlName="sslPharmParticipantLimit" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Terminal Extension Coverage End Date</label>
                    <input type="date" formControlName="sslTermCoverageExtEndDate" class="form-control" [ngClass]="{ 'is-invalid': sslTermCovrErr.isDateErr }" max="2999-12-31"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label></label>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="las" formControlName="sslLasering">
                      <label class="custom-control-label" for="las"> Lasering</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label></label>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" formControlName="sslIsImmediateReimbursement" id="imReimb" checked>
                      <label class="custom-control-label" for="imReimb"> Immediate Reimbursement</label>
                    </div>
                  </div>
                </div>
              </div>	
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Exclusion Incurred Period Start Date</label>
                    <input type="date"  value="MM/DD/yyyy" formControlName="sslExclusionIncurredStartDate"class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': sslExInStartEndDateErr.isDateErr || sslExInStartDateErr.isDateErr}"/>
                  </div>              
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Exclusion Incurred Period End Date</label>
                    <input type="date"  value="MM/DD/yyyy" formControlName="sslExclusionIncurredEndDate"class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': sslExInStartEndDateErr.isDateErr}"/>
                  </div>              
                </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Exclusion Paid Start Date</label>
                  <input type="date"  value="MM/DD/yyyy" formControlName="sslExclusionPaidStartDate"class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': sslExPaidStartEndDateErr.isDateErr || sslExPaidStartDateErr.isDateErr}"/>
                </div>              
              </div>
              </div>
              <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Exclusion Paid  End Date</label>
                  <input type="date"  value="MM/DD/yyyy" formControlName="sslExclusionPaidEndDate"class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': sslExPaidStartEndDateErr.isDateErr}"/>
                </div>              
              </div>
            </div>
              <div class="row"> 
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Covered Benefits<small class="starmark">*</small></label>
                    <!-- <select formControlName="sslCoveredClaims" class="form-control" multiple [ngClass]="{ 'is-invalid': submitted && f.sslCoveredClaims.errors }">
                      <option *ngFor="let coveredClaim of coveredClaims" [value]="coveredClaim.claimTypeCode">
                        {{coveredClaim.claimType}}
                      </option>
                  </select>  -->    
                  
                    <div>
                      <mat-form-field>
                        <mat-select class="form-control" formControlName="sslCoveredClaims"  multiple [ngClass]="{ 'is-invalid': submitted && f.sslCoveredClaims.errors }">
                          <mat-option *ngFor="let coveredClaim of coveredClaims" [value]="coveredClaim.claimTypeCode">{{coveredClaim.claimType}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-4"> </div>
                <div class="col-md-4">
                  <!-- <div class="product-cell-area">                
                      <a class="text-primary" routerLink="/member" routerLinkActive="active">Lasering</a>
                  </div> -->
                </div>
              </div>
            </div>
            
          </fieldset>
           <!-- <h2>
             <label for="y2">Year 2 
              <input type="checkbox" class="success" id="y2" formControlName="isContractPeriod" (change)="checkYear2Selected()"> 
              <input type="text" formControlName="contractPeriod" style="visibility:hidden">
              </label>
            </h2> -->
            
            <fieldset class="product-fieldset">
              <legend>
                  <input type="checkbox" class="success" id="y2" formControlName="isContractPeriod" (change)="checkYear2Selected()"> 
                  <label for="y2">Year 2 </label>
                  <input type="text" formControlName="contractPeriod" style="visibility:hidden">
                </legend>
          <div class="ssl-section">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Claim Basis<small class="starmark">*</small></label>
                  <input type="text" formControlName="y2sslClaimBasis" class="form-control" placeholder="MM/MM" maxlength="5" [ngClass]="{ 'is-invalid': submitted && f.y2sslClaimBasis.errors || y2sslClaimBasisErr.isValid}"/>
                </div>                
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Incurred Start Date<small class="starmark">*</small></label>
                  <input type="date" value="MM/DD/yyyy"  formControlName="y2sslIncurredStartDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.y2sslIncurredStartDate.errors || y2sslIncurredEndErr.isDateErr }" max="2999-12-31"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Incurred End Date<small class="starmark">*</small></label>
                  <input type="date" value="MM/DD/yyyy"  formControlName="y2sslIncurredEndDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.y2sslIncurredEndDate.errors || y2sslIncurredEndErr.isDateErr }" max="2999-12-31"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Specific Start Date</label>
                  <input type="date" value="MM/DD/yyyy"  formControlName="y2sslContractStartDate" class="form-control" max="2999-12-31"  [ngClass]="{ 'is-invalid':y2sslSPecificErr.isDateErr}"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Specific End Date</label>
                  <input type="date" value="MM/DD/yyyy"  formControlName="y2sslContractEndDate" class="form-control" max="2999-12-31"  [ngClass]="{ 'is-invalid':y2sslSPecificErr.isDateErr}"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Run-In Limit</label>
                  <input type="number"  formControlName="y2sslRunInLimit" class="form-control"/>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Paid Start Date<small class="starmark">*</small></label>
                  <input type="date" value="MM/DD/yyyy"  formControlName="y2sslPaidStartDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.y2sslPaidStartDate.errors || y2sslPaidEndErr.isDateErr  }" max="2999-12-31"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Paid End Date<small class="starmark">*</small></label>
                  <input type="date" value="MM/DD/yyyy"  formControlName="y2sslPaidEndDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.y2sslPaidEndDate.errors || y2sslPaidEndErr.isDateErr }" max="2999-12-31"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Specific Deductible<small class="starmark">*</small></label>
                  <input type="number"   formControlName="y2sslDeductible" class="form-control" [ngClass]="{ 'is-invalid': submitted && y2sslDeductibleErr.isValid }"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Aggregating Specific Deductible</label>
                  <input type="number"  formControlName="y2sslAggDeductible" class="form-control"/>
                </div>
              </div> 
              <div class="col-md-4">
                <div class="form-group">
                  <label>Limit of Liability - Contract</label>
                  <input type="number"  formControlName="y2sslAnnualLimit" class="form-control"/>
                </div>              
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Limit of Liability - Lifetime</label>
                  <input type="number"  formControlName="y2sslLifetimeLimit" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <div class="form-group">
                  <label>Limit of Liability - Participant</label>
                  <input type="number"  formControlName="y2sslPartcipantLimit" class="form-control"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Limit of Liability - Pharmacy Claims Contract</label>
                  <input type="number"  onkeypress="return ((event.charCode !=8 && event.charCode ==0) || (event.charCode == 46)||(event.charCode >= 48 && event.charCode <= 57))" class="form-control" formControlName="y2sslPharmContractLimit"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Limit of Liability - Pharmacy Claims Participant</label>
                  <input type="number"  onkeypress="return ((event.charCode !=8 && event.charCode ==0) ||(event.charCode == 46)||(event.charCode >= 48 && event.charCode <= 57))"class="form-control" formControlName="y2sslPharmParticipantLimit" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Terminal Extension Coverage End Date</label>
                  <input type="date"  formControlName="y2sslTermCoverageExtEndDate" class="form-control"  max="2999-12-31" [ngClass]="{ 'is-invalid': y2sslTermCovrErr.isDateErr }"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label></label>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox"  class="custom-control-input" id="las2" formControlName="y2sslLasering">
                    <label class="custom-control-label" for="las2"> Lasering</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label></label>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox"  class="custom-control-input" formControlName="y2sslIsImmediateReimbursement" id="x" checked>
                    <label class="custom-control-label" for="imReimb2"> Immediate Reimbursement</label>
                  </div>
                </div>
              </div>
            </div>	
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Exclusion Incurred Period Start Date</label>
                  <input type="date"   value="MM/DD/yyyy" formControlName="y2sslExclusionIncurredStartDate" class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': y2sslExInStartEndDateErr.isDateErr || y2sslExInStartDateErr.isDateErr}" />
                </div>              
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Exclusion Incurred Period End Date</label>
                  <input type="date"   value="MM/DD/yyyy" formControlName="y2sslExclusionIncurredEndDate" class="form-control" [ngClass]="{ 'is-invalid': y2sslExInStartEndDateErr.isDateErr}" max="2999-12-31" />
                </div>              
              </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Exclusion Paid Start Date</label>
                <input type="date"   value="MM/DD/yyyy" formControlName="y2sslExclusionPaidStartDate" class="form-control" [ngClass]="{ 'is-invalid': y2sslExPaidStartEndDateErr.isDateErr || sslExPaidStartDateErr.isDateErr}" max="2999-12-31" />
              </div>              
            </div>
            </div>
            <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Exclusion Paid  End Date</label>
                <input type="date"   value="MM/DD/yyyy" formControlName="y2sslExclusionPaidEndDate" class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': y2sslExPaidStartEndDateErr.isDateErr}" />
              </div>              
            </div>
          </div>
            <div class="row"> 
              <div class="col-md-4">
                <div class="form-group">
                  <label>Covered Benefits<small class="starmark">*</small></label>
                  <!-- <select formControlName="sslCoveredClaims" class="form-control" multiple [ngClass]="{ 'is-invalid': submitted && f.sslCoveredClaims.errors }">
                    <option *ngFor="let coveredClaim of coveredClaims" [value]="coveredClaim.claimTypeCode">
                      {{coveredClaim.claimType}}
                    </option>
                </select>  -->    
                
                  <div>
                    <mat-form-field>
                      <mat-select class="form-control" formControlName="y2sslCoveredClaims"    multiple [ngClass]="{ 'is-invalid': submitted && f.y2sslCoveredClaims.errors }">
                        <mat-option *ngFor="let coveredClaim of coveredClaims" [value]="coveredClaim.claimTypeCode">{{coveredClaim.claimType}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-4"> </div>
              <div class="col-md-4">
                <!-- <div class="product-cell-area">                
                    <a class="text-primary" routerLink="/member" routerLinkActive="active">Lasering</a>
                </div> -->
              </div>
            </div>
          </div>
              </fieldset>

            <br/>

		<h1>Aggregate Stop Loss</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Claim Basis<small class="starmark">*</small></label>
          <!-- <input type="text" formControlName="aslClaimBasis" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aslClaimBasis.errors }"/> -->
          <!-- <select class="form-control" formControlName="aslClaimBasis" [ngClass]="{ 'is-invalid': submitted && f.aslClaimBasis.errors }"> -->
            <!-- <option value="12/12">12/12</option>
            <option value="12/15">12/15</option>
            <option value="12/18">12/18</option>
            <option value="15/12">15/12</option>
            <option value="24/12">24/12</option> -->
            <!-- <option [value]="i" *ngFor="let i of claimBasis">
            {{i}}
            </option>
          </select>  -->

          <input type="text" formControlName="aslClaimBasis" class="form-control" placeholder="MM/MM" maxlength="5" [ngClass]="{ 'is-invalid': submitted && f.aslClaimBasis.errors || aslClaimBasisErr.isValid  }" [readonly]="updateStatus" /><!--Modified By Venkatesh Enigonda-->
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="form-group">
          <label>Deductible<small class="starmark">*</small></label>
          <input type="number" formControlName="aslDeductible" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aslDeductible.errors }"/>
        </div>
      </div> -->
      <div class="col-md-4">
        <div class="form-group">
          <label>Min Aggregate Deductible <small class="starmark">*</small></label>
          <input type="number" formControlName="aslMinDeductible" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aslMinDeductible.errors }" [readonly]="updateStatus"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Expected Claim Liability</label>
          <input type="number" formControlName="aslExpectedClaimLiability" class="form-control" [readonly]="updateStatus"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Incurred Start Date<small class="starmark">*</small></label>
          <input type="date" formControlName="aslIncurrredStartDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aslIncurrredStartDate.errors || aslIncurredEndErr.isDateErr  }" max="2999-12-31" [readonly]="updateStatus"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Incurred End Date<small class="starmark">*</small></label>
          <input type="date" formControlName="aslIncurredEndDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aslIncurredEndDate.errors || aslIncurredEndErr.isDateErr }" max="2999-12-31" [readonly]="updateStatus"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Run-In Limit</label>
          <input type="number" formControlName="aslRunInLimit" class="form-control" [readonly]="updateStatus"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Aggregate Start Date</label>
          <input type="date" formControlName="aslContractStartDate" class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': aslAggregateErr.isDateErr}" [readonly]="updateStatus"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Aggregate End Date</label>
          <input type="date" formControlName="aslContractEndDate" class="form-control" max="2999-12-31"[ngClass]="{ 'is-invalid': aslAggregateErr.isDateErr}" [readonly]="updateStatus"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Aggregate Corridor</label>
          <input type="number" formControlName="aslCorridor" class="form-control" [readonly]="updateStatus"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Paid Start Date<small class="starmark">*</small></label>
          <input type="date" formControlName="aslPaidStartDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aslPaidStartDate.errors || aslPaidEndErr.isDateErr  }" max="2999-12-31" [readonly]="updateStatus"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Paid End Date<small class="starmark">*</small></label>
          <input type="date" formControlName="aslPaidEndDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aslPaidEndDate.errors || aslPaidEndErr.isDateErr }" max="2999-12-31" [readonly]="updateStatus"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Limit of Liability - Contract</label>
          <input type="number" formControlName="aslAnnualLimit" class="form-control" [readonly]="updateStatus"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Limit of Liability - Lifetime</label>
          <input type="number" formControlName="aslLifeTimeLimit" class="form-control" [readonly]="updateStatus"/>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Limit of Liability - Pharmacy Claims</label>
          <input type="number" onkeypress="return ((event.charCode !=8 && event.charCode ==0) ||(event.charCode == 46)|| (event.charCode >= 48 && event.charCode <= 57))" class="form-control" formControlName="aslPharmClaimsLimit" [readonly]="updateStatus"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label></label>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" formControlName="aslIsMonthlyAccomidation" id="aslMonAcc" checked [readonly]="updateStatus">
            <label class="custom-control-label" for="aslMonAcc"> Monthly Accomodation</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Terminal Extension Coverage End Date</label>
          <input type="date" formControlName="aslTermCoverageExtEndDate" class="form-control" [ngClass]="{ 'is-invalid': aslTermCovrErr.isDateErr }" max="2999-12-31" [readonly]="updateStatus" />
        </div>
      </div> 
      <div class="col-md-4">
        <div class="form-group">
          <label>Covered Benefits<small class="starmark">*</small></label>
          <!-- <select formControlName="aslCoveredClaims" class="form-control" multiple [ngClass]="{ 'is-invalid': submitted && f.aslCoveredClaims.errors }">
            <option *ngFor="let coveredClaim of coveredClaims" [value]="coveredClaim.claimTypeCode">
              {{coveredClaim.claimType}}
            </option>
         </select>-->
         <div>
            <mat-form-field>
            <mat-select class="form-control" formControlName="aslCoveredClaims"  multiple [ngClass]="{ 'is-invalid': submitted && f.aslCoveredClaims.errors }" [disabled]="updateStatus">
              <mat-option *ngFor="let coveredClaim of coveredClaims" [value]="coveredClaim.claimTypeCode">{{coveredClaim.claimType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>   
        </div>
      </div>
      <div class="col-md-4">
        <!-- <div class="product-cell-area">          
          <a class="text-primary" routerLink="/health-plan" routerLinkActive="active">Plan</a>
        </div> -->
      </div>
    </div>
    <h1>Max Liability</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="max" formControlName="isMaxLiability" (change)="checkMaxLiability()" [readonly]="updateStatus">
          <label class="custom-control-label" for="max">Max Liability</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>IBNR Reserve Percentage <small class="starmark" *ngIf="f.isMaxLiability.value">*</small> </label>
          <input type="number" formControlName="ibnrPercentage" [readonly]="!f.isMaxLiability.value" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ibnrPercentage.errors }"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Deferred Service Fee Percentage<small class="starmark" *ngIf="f.isMaxLiability.value">*</small></label>
          <input type="number" formControlName="defferedFeePercentage" [readonly]="!f.isMaxLiability.value" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.defferedFeePercentage.errors }"/>
        </div>
      </div>
    </div>
</div>   
      </div>
      <div class="modal-footer">
        <div class="modal-footer-btns">
          <div class="col_1">
           <button type="button" class="btn btn-primary" *ngIf="isAddMode" routerLinkActive="active" (click)="goBackPreviousScreen()">Back</button>
           <button type="button" class="btn btn-primary" *ngIf="!isAddMode" routerLinkActive="active" (click)="goBackCurrentScreen()">Back</button>
           <button class="btn btn-primary"  [disabled]="isAddMode && !isAdded" (click)="gotoLaseringUpdate()">Lasering</button>
           <button class="btn btn-primary"  [disabled]="!isAdded" (click)="gotoPlanAdd()" *ngIf="isAddMode">
            Plan &amp; Tier
          </button>
            <button class="btn btn-primary" (click)="gotoPlanUpdate()" *ngIf="!isAddMode">
              Plan &amp; Tier
            </button>
          </div>
          <div class="col_2">
            <button type="button" class="btn btn-outline-primary" (click)="openCustomModal(false, null)">Cancel</button>
           <button type="submit" class="btn btn-primary" *ngIf="!isAddMode && !isViewModal">Update</button>
            <button type="submit" class="btn btn-primary" [disabled]="isAdded" *ngIf="isAddMode">Add</button>
          </div>
        </div>
      </div>
        </form>
    </div>
  </div>
</div>