

    <div class="page-content">
      <div class="card custom-card">
          <div class="card-header">
          Account
          <!--<alert></alert>-->
          </div>
          <div class="card-body">
              <div class="select-grid-wrap">
                  <div class="select-grid-header">
                     <div>
                      <label class="form-field-label">
                          Search Account
                      </label>
                      <!-- <div class="form-field-input">
                          <select class="form-control cselect-dropdown" name="clientId" (change)="onChangeClient($event.target.value)">
                              <option selected="selected" value="Select All">Select All</option>
                              <option *ngFor="let clin of clientIDs" [value]="clin.clientId">
                                  {{clin.clientId}} - {{clin.description}}
                              </option>
                          </select>
                      </div> -->
                      <div class="search-field-clear-area">
                        <div fxLayout fxLayoutAlign="center center">
                          <mat-form-field fxFlex="40%">
                            <input matInput [value]="searchInputValue" #filterSearchInput type="text" (focus)="doFilter($event.target.value)" (keyup)="doFilter($event.target.value)" placeholder="Search a Account" autocomplete="off">
                          </mat-form-field>
                        </div>
                        <div class="clear-btn-div">
                          <button type="button" class="btn btn-outline-secondary" (click)="clearSearchInput()">Clear</button>
                        </div>
                      </div>
                  </div>
            </div>
              <div class="card-table-area clients-table-area">
                  <div class="cust-add-area">
                      <span class="fa fa-plus-circle" (click)="openCustomModal(true, null)" *ngIf="isAdmin"></span>
                  </div>
                  <div class="table-responsive">

                  <div class="mat-elevation-z8">
                    <table mat-table matSort [dataSource]="dataSource" class="table table-bordered table-striped card-table">

                     <ng-container matColumnDef="clientId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Medica Account ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
                      </ng-container>
                      <ng-container matColumnDef="clientName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header >Medica Account Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.startDate | date:'MM/dd/yyyy'}} </td>
                      </ng-container>
                      <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.endDate | date:'MM/dd/yyyy'}} </td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="parentID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Account of </th>
                        <td mat-cell *matCellDef="let element"> {{element.parentName}} </td>
                      </ng-container> -->

                      <!-- Action Column -->
                      <ng-container matColumnDef="userId">
                        <th mat-header-cell *matHeaderCellDef class="c-action"> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link c-action">
                          <span class="view-icon" 
                                (click)="openViewModal(true, element)" title="View"></span>
                          <!-- <span class="view-icon" title="View" (click)="openViewModal(true, element)"></span> -->
                          <span class="fa fa-edit"
                           (click)="openCustomModal(true, element)" title="Update" *ngIf="isAdmin"></span>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
                  </div>


                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>



<!-- The Add/Update Client Modal -->
<div id="clientAdd" class="modal fade custom-modal" [ngClass]="{'view-modal':isViewModal}" role="dialog" [ngStyle]="{'display': isCustomModalOpen ? 'block' : 'none', 'opacity': 1}">

   <!-- Add/Update Plans Modal -->
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" *ngIf="!isViewModal">
                <span *ngIf="isAddMode">Add Account</span>
                <span *ngIf="!isAddMode">Update Account</span>
            </h4>
            <h4 class="modal-title" *ngIf="isViewModal">
              <span>Account</span>
            </h4>
            <div>
              <alert></alert>
              <a class="fa fa-2x fa-times-circle" (click)="openCustomModal(false, null)">
              </a>
            </div>
        </div>
        <!-- Modal body -->
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
             <div class="mandate-fields">
               <div *ngIf="submitted && (!clientForm.valid && !clientForm.errors?.dates)">Fields marked with * are mandatory</div>
               <div *ngIf="clientForm.errors">{{ clientForm.errors?.dates | json }}</div>
               <div *ngIf="accountIdErr.isValid">{{accountIdErr.errMsg}}</div><!---- modified by Venkatesh Enigonda-->
               <div *ngIf="accountNameErr.isValid">{{accountNameErr.errMsg}}</div><!--- modified by Venkatesh Enigonda-->
               <div *ngIf="startDateErr.isDateErr">{{startDateErr.dateErrMsg}}</div>
               <div *ngIf="endDateErr.isDateErr">{{endDateErr.dateErrMsg}}</div>
               <div *ngIf="accIdErr.isDuplicate">{{accIdErr.errMsg}}</div>
               <div *ngIf="accNameErr.isDuplicate">{{accNameErr.errMsg}}</div>
               <div *ngIf="subSubIdAcErr.isValid">{{subSubIdAcErr.errMsg}}</div>
               <div *ngIf="!isYearValid">Invalid Year. Please enter proper Year</div>
               <!--Modified by Venkatesh Enigonda-->
               <div *ngIf="subChkErr.isValid">{{subChkErr.errMsg}}</div>
               <!--Modified by Venkatesh Enigonda-->
               <div *ngIf="subSubChkErr.isValid">{{subSubChkErr.errMsg}}</div>
               <div *ngIf="isHRIdInvalid.flag">{{isHRIdInvalid.message}}</div>  
               <div *ngIf="updateNoChange.flag">{{updateNoChange.message}}</div>
            </div>
          <div class="modal-body-wrap">
             <div class="row">
              <div class="col-md-6">
                 <div class="form-group">
                   <label>Medica Account ID<small *ngIf="isAddMode" class="starmark">*</small></label>
             <input #focusElem type="text" maxlength="15" formControlName="clientId" [readonly]="!isAddMode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clientId.errors || accountIdErr.isValid }"/>
                 </div>
                </div>
                <div class="col-md-6">
                 <div class="form-group">
                   <label>Medica Account Name<small *ngIf="isAddMode" class="starmark">*</small></label>
             <input type="text" formControlName="clientName" class="form-control" [readonly]="!isAddMode" [ngClass]="{ 'is-invalid': submitted && f.clientName.errors || accountNameErr.isValid}" /><!--Modified by Venkatesh Enigonda-->
                 </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" value="MM/dd/yyyy" formControlName="startDate" class="form-control" (blur)="checkYear($event, 'startDate')"  [ngClass]="{ 'is-invalid': startDateErr.isDateErr}"/>
                </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>End Date</label>
                    <input type="date" value="MM/dd/yyyy" (blur)="checkYear($event, 'endDate')"  formControlName="endDate" class="form-control"  max="2999-12-31" [ngClass]="{ 'is-invalid': endDateErr.isDateErr}" />
                   </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Medica Sub Account ID</label>
                    <input type="text" value="" formControlName="subAccountid" class="form-control" maxlength="25"
                      [ngClass]="{ 'is-invalid': subChkErr.isValid || subSubIdAcErr.isValid}" />
                    <!-- <select formControlName="parentID" class="form-control"> -->
                      <!-- <option *ngFor="let client of parentClientIds; let index=i" [selected]="i==2?true:null" [value]="client.parentID">
                        {{client.parentName}}
                      </option> -->
                      <!-- <option *ngFor="let client of activeClients; let index=i" [selected]="i==2?true:null" [value]="client.clientId">
                        {{client.clientName}}
                      </option> -->
                    <!-- </select> -->
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-group switch-group" *ngIf="!isAddMode">
                    Active
                      <label class="switch">
                        <input type="checkbox" class="success" formControlName="status">
                        <span class="slider round"></span>
                      </label>
                    </div>
                </div> -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Medica Sub Sub-Account ID</label>
                    <input type="text" value="" formControlName="subSubAccountid" class="form-control"  maxlength="25" [ngClass]="{ 'is-invalid':subSubChkErr.isValid}"/> <!--Modified by Venkatesh Enigonda-->
                   </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>FTN</label>
                    <input type="text" value="" formControlName="ftn" class="form-control"  maxlength="50"/>
                   </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>FTN Name</label>
                    <input type="text" value="" formControlName="ftnname" class="form-control"  maxlength="50"/>
                   </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Claims Administrator</label>
                    <input type="text" value="" formControlName="claimsAdministrator" class="form-control"  maxlength="50"/>
                   </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Pharmacy Claims Administrator</label>
                    <input type="text" value="" formControlName="pharmacyClaimsAdministrator" class="form-control"  maxlength="50"/>
                   </div>
                </div>
              </div>
              <div class="audit-table-area" *ngIf="!isAddMode">
                 <table class="table table-bordered table-striped table-hover">
                   <thead>
                     <tr>
                       <th>Updated by</th>
                       <th>Updated On</th>
                       <th>Action</th>
                     </tr>                 
                   </thead>
                   <tbody>
                     <tr *ngFor="let obj of accountAudits">
                       <td>{{obj.userId}}</td>
                       <td>{{obj.sysDate}}</td>
                       <td *ngIf="obj.actionType=='U'">Update</td>
                       <td *ngIf="obj.actionType=='I'">Add</td>
                     </tr>
                   </tbody>
                 </table>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="modal-footer-btns">
            <div class="col_1">
              <button type="button" class="btn btn-primary" (click)="gotoAddContract()" [disabled]="!isAdded" routerLinkActive="active" *ngIf="isAddMode">Contracts</button>
              <button type="button" class="btn btn-primary" (click)="gotoUpdateContract()" routerLinkActive="active" *ngIf="!isAddMode">Contracts</button>
            </div>
            <div class="col_2">
              <button type="button" class="btn btn-outline-primary" (click)="openCustomModal(false, null)">Cancel</button>  
              <button type="submit" class="btn btn-primary" [disabled]="isDisabled" *ngIf="!isAddMode && !isViewModal ">Update</button>
              <button type="submit" class="btn btn-primary" *ngIf="isAddMode" [disabled]="isAdded">Add</button>              
            </div>
          </div>          
        </div>
      </form>
        </div>
      </div>
    </div>



    
