<div class="page-content">
<div class="card custom-card">
    <div class="card-header">
          <h3>Mass Upload</h3>
          <div class="edit-update-alert">
             <alert></alert>
          </div>
        
    </div>
    <div class="row">  
         
    </div>  
<div class="row">  
    <div class="col-md-5">  
        <input class="form-control" (change)="onChange($event)" type="file" #fileInput />  
        <div *ngIf="isExcelFile === false">
            {{message}}
          </div>
    </div>
   
    

<div class="modal-footer-btns">
    <button class="btn btn-primary" [disabled]="isLoading" (click)="uploadFile();"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> {{button}}</button>
    <button class="btn btn-primary" (click)="resetFileUploader()"> Reset  </button>
  </div>   
</div>  
<div>  
    <h4 class="alert-success">{{message}}</h4>  
</div>
</div>
</div>
