
 <div class="page-content batch-process-screen">
   <div class="card">
    <div class="card-header">
      Batch Process 
      <select class="form-control" name="status"  (change)="getBatchDetails($event.target.value)" >                            
        <option *ngFor="let batchStatus of allBatchStatus" [value]="batchStatus.batchStatus">
            {{batchStatus.batchStatus}}</option>      
      </select>  
      <a class="refresh-link" style="margin-left: 10px;" (click)="refreshBatchProcess()">
          <span class="fa fa-refresh"></span> Refresh
      </a>
    </div>
    <div class="card-body">   
      <div *ngIf="isNewBatchPAdded" class="success-dialog-msg">
        <h2>New Batch added successfully</h2>
   </div>
      <div *ngIf="isBatchPUpdated" class="success-dialog-msg">
        <h2 class="text-success">Batch updated successfully</h2>
      </div>
          <div class="card-table-area batch-process-table-area">
          <div class="table-responsive"> 
            <div class="cust-add-area">
                <span class="fa fa-plus-circle" (click)="openAddBatchPModal(true)"></span>
            </div>               
            <div class="mat-elevation-z8">
              <table mat-table matSort #BatchProcessGridSort="matSort" [dataSource]="batchProcessGridSource" class="table table-bordered table-striped table-hover card-table">          
                <ng-container matColumnDef="batchProcess">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch Process </th>
                  <td mat-cell *matCellDef="let element"> {{element.batchProcess}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                    Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="lastRun">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Run</th>
                  <td mat-cell *matCellDef="let element"> 
                    {{element.lastRun | date:'MM-dd-yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="lastRunStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Run Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.lastRunStatus}} </td>
                </ng-container>
                <ng-container matColumnDef="nextScheduleRun">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Schedule Run </th>
                  <td mat-cell *matCellDef="let element"> 
                    {{element.nextScheduleRun | date:'MM-dd-yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="frequency">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header > Frequency </th>
                  <td mat-cell *matCellDef="let element"> 
                    {{element.frequency}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="batchProcessId">
                  <th mat-header-cell *matHeaderCellDef class="c-action"> Action </th>
                  <td mat-cell *matCellDef="let element" class="action-link c-action"> 
                    <button [ngClass]="element.frequency!='Demand'?'btn btn-secondary':'btn btn-primary'" [disabled]="element.frequency!='Demand'" (click)="startDemand(element)">Start</button>  
                    <!-- <button *ngIf="element.frequency=='Demand' || element.frequency=='On Demand'" class="btn btn-primary" (click)="startDemand()">
                      Start
                    </button>
                    <button *ngIf="element.frequency!='Demand'" class="btn btn-secondary" disabled>
                      Start
                    </button> -->
                  </td>
                </ng-container>
                <!-- Action Column -->
                <ng-container matColumnDef="updateId">
                  <th mat-header-cell *matHeaderCellDef class="c-action"> Action </th>
                  <td mat-cell *matCellDef="let element" class="action-link c-action"> 
                    <span class="fa fa-edit" 
                          (click)="openUpdateBatchPModal(element, true)"></span>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="batchProcessColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: batchProcessColumns; let i = index" (click)="showRowHistory(row, i)" [class.highlightRow]="i == selectedRow"></tr>
              </table>
              <mat-paginator #BatchProcessPaginator="matPaginator" [pageSizeOptions]="[5, 10, 15, 30, 50]" showFirstLastButtons></mat-paginator>
            </div> 
        </div>
    </div>
    </div>
 </div>
<div class="card">
    <div class="card-header">
    History 
    <select class="form-control" name="status" *ngIf="isHistoryPresent">       
                        
    <!-- <option *ngFor="let batchStatus of allBatchStatus" [value]="batchStatus.batchStatus">
        {{batchStatus.batchStatus}}</option>      
    </select>  -->
    <option value="All">All</option>    
    <option value="Failed">Failed</option>  
  </select> 
    </div>
    <div class="card-body">
      <div class="card-table-area batch-history-table-area">
      <div class="table-responsive">
      <div class="mat-elevation-z8" *ngIf="isHistoryPresent">
        <table mat-table matSort #HistoryGridSort="matSort" [dataSource]="historyGridSource" class="table table-bordered table-striped card-table">          
          <ng-container matColumnDef="started">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Started</th>
            <td mat-cell *matCellDef="let element"> 
              {{element.started | date:'MM-dd-yyyy, h:mm:ss'}} </td>
          </ng-container>
          <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Completed </th>
            <td mat-cell *matCellDef="let element">
              {{element.completed | date:'MM-dd-yyyy, h:mm:ss'}} 
            </td>
          </ng-container>
          <ng-container matColumnDef="scheduled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              Scheduled </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.scheduled | date:'MM-dd-yyyy, h:mm:ss'}} </td>
          </ng-container>
          <ng-container matColumnDef="failed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Failed</th>
            <td mat-cell *matCellDef="let element"> 
              {{element.failed}} </td>
          </ng-container>
          <ng-container matColumnDef="failedReason">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              Failed Reason </th>
            <td mat-cell *matCellDef="let element"> {{element.failedReason}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="historyGridColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: historyGridColumns"></tr>
        </table>
        <mat-paginator #HistoryGridPaginator="matPaginator" 
        [pageSizeOptions]="[5, 10, 15, 30, 50]" showFirstLastButtons></mat-paginator>
      </div> 
      <div class="show-no-history" *ngIf="isHistoryNotPresent">
          <h3 class="no-history-found">
            No History found for the Batch Process ID {{locBatchProcessID}}
          </h3>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>


<!-- The Add Modal -->
<div id="addBatchPModal" class="modal fade" role="dialog" [ngStyle]="{'display': isAddBatchPModalOpen ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title">
              <span>Add Batch Process</span>
          </h4>
          <a class="fa fa-2x fa-times-circle" (click)="openAddBatchPModal(false)">
          </a>
      </div>
      <!-- Modal body -->
      <div class="modal-body">          
  <div class="add-role-area">
  <form [formGroup]="addBatchPForm" (ngSubmit)="addBatchProcess(addBatchPForm)"  autocomplete="off">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label >Batch Process 
            <small class="starmark">*</small></label>
          <input type="text" class="form-control" formControlName="batchProcess" tabindex="1" >  
        </div>
        <div class="form-group">
          <label >Description
            <small class="starmark">*</small></label>
          <input type="text" class="form-control" formControlName="description" tabindex="2">  
        </div>
        <div class="form-group">
          <label >Status
            </label>
          <select formControlName="status" tabindex="3" class="form-control">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Running">Running</option>
            <option value="Completed">Completed</option>
          </select> 
        </div>
        <div class="form-group">
          <label > Last Run Status
            </label>
          <select formControlName="lastRunStatus" tabindex="4" class="form-control" disabled>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Running">Running</option>
            <option value="Completed">Completed</option>
          </select> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label >Last Run </label>
          <input type="date" class="form-control" formControlName="lastRun" tabindex="5" disabled>  
        </div>
        <div class="form-group">
          <label >Next Schedule Run
            </label>
          <input type="date" class="form-control" formControlName="nextScheduleRun" tabindex="6">  
        </div>
        <div class="form-group">
          <label >Frequency
            </label>
          <select formControlName="frequency" tabindex="7" class="form-control">
            <option value="Demand">Demand</option>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
          </select> 
        </div>
      </div>
    </div> 
    <div class="modal-footer-btns">
          <button type="button" class="btn btn-outline-success" tabindex="9" (click)="openAddBatchPModal(false)">Cancel</button>
          <button type="submit" class="btn btn-success" tabindex="8">Add</button>
        </div>
        </form>
        </div>  <!-- end of add-Benefit-area -->
      </div>           
      </div>
    </div>
  </div>

<!-- The Update Modal -->
<div id="updateBatchPModal" class="modal fade" role="dialog" [ngStyle]="{'display': isUpdateBatchPModalOpen ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title">
              <span>Update Batch Process</span>
          </h4>
          <a class="fa fa-2x fa-times-circle" (click)="openUpdateBatchPModal(null, false)">
          </a>
      </div>
      <!-- Modal body -->
      <div class="modal-body">          
  <div class="add-role-area">
  <form [formGroup]="updateBatchPForm" (ngSubmit)="updateBatchProcess(updateBatchPForm)"  autocomplete="off">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label >Batch Process 
            <small class="starmark">*</small></label>
          <input type="text" class="form-control" formControlName="batchProcess" tabindex="1" >  
        </div>
        <div class="form-group">
          <label >Description
            <small class="starmark">*</small></label>
          <input type="text" class="form-control" formControlName="description" tabindex="2">  
        </div>
        <div class="form-group">
          <label >Status
            </label>
          <select formControlName="status" tabindex="3" class="form-control">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Running">Running</option>
            <option value="Completed">Completed</option>
          </select> 
        </div>
        <div class="form-group">
          <label > Last Run Status
            </label>
          <select formControlName="lastRunStatus" tabindex="4" class="form-control" disabled>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Running">Running</option>
            <option value="Completed">Completed</option>
          </select> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label >Last Run </label>
          <input type="date" class="form-control" formControlName="lastRun" tabindex="5" disabled>  
        </div>
        <div class="form-group">
          <label >Next Schedule Run
            </label>
          <input type="date" class="form-control" formControlName="nextScheduleRun" tabindex="6">  
        </div>
        <div class="form-group">
          <label >Frequency
            </label>
          <select formControlName="frequency" tabindex="7" class="form-control">
            <option value="Demand">Demand</option>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
          </select> 
        </div>
      </div>
    </div> 
    <div class="modal-footer-btns">
          <button type="button" class="btn btn-outline-success" tabindex="9" (click)="openUpdateBatchPModal(null, false)">Cancel</button>
          <button type="submit" class="btn btn-success" tabindex="8">Update</button>
        </div>
        </form>
        </div>  <!-- end of add-Benefit-area -->
      </div>           
      </div>
    </div>
  </div>


<!-- The StartDemand Success Modal -->
<div id="startDemandModal" class="modal fade" role="dialog" [ngStyle]="{'display': isStartDemandModalOpen ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <h4 class="modal-title">
            <span>&nbsp;</span>
        </h4>
        <a class="fa fa-2x fa-times-circle" (click)="openStartDemandModal(false)">
        </a>
      <!-- Modal body -->
      <div class="modal-body">  
          <h1>Job started successfully</h1>        
      </div>           
      </div>
    </div>
  </div>

