
    <div class="page-content">
      <div class="card">    
        <div class="card-header">
          Lasering
          <!-- <alert></alert> -->
          </div>
          <div class="card-body">
            
         <div class="select-grid-wrap">
            <div class="select-grid-header">
              <div>
                  <label class="form-field-label">Search Lasering</label>     
                  <div class="search-field-clear-area">         
                    <div fxLayout fxLayoutAlign="center center">
                      <mat-form-field fxFlex="40%">
                        <input matInput type="text" #filterSearchInput [value]="searchInputValue" (keyup)="doFilter($event.target.value)" (focus)="doFilter($event.target.value)" placeholder="Search a Lasering">
                      </mat-form-field>
                    </div> 
                    <div class="clear-btn-div">
                      <button type="button" class="btn btn-outline-secondary" (click)="clearSearchInput()">Clear</button>
                    </div>
                  </div> 
              </div>               
            </div>
            <div class="card-table-area members-table-area" >
                <div class="table-responsive">                    
                    <div class="member-table-wrap laser-table-wrap">
                      <table mat-table matSort #memberLaseringTable [dataSource]="laseringDataSource" class="table table-bordered table-striped card-table">
                        <ng-container matColumnDef="clientName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header >Client Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fname">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header >First Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lname">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header >Last Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
                        </ng-container>                  
                        <ng-container matColumnDef="memberId">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header >Member ID </th>
                          <td mat-cell *matCellDef="let element"> 
                            <a (click)="openCustomModal(true, element)" class="text-primary" *ngIf="isAdmin">
                              {{element.memberId}}</a>
                              <span *ngIf="!isAdmin" class="text-primary">{{element.memberId}}</span>
                          </td>
                        </ng-container>                
                        <ng-container matColumnDef="laserValue">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header >Laser Value </th>
                          <td mat-cell *matCellDef="let element"> 
                            {{element.laserValue | number:'2.2-2'  }}
                          </td>
                        </ng-container>      
                        <ng-container matColumnDef="clientId">
                          <th mat-header-cell *matHeaderCellDef> Action </th>
                          <td mat-cell *matCellDef="let element" class="action-link"> 
                           <span class="view-icon" 
                                 (click)="openViewModal(true, element)" title="View"></span>
                          </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="laseringColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: laseringColumns;"></tr>
                      </table>
                      <div class="grid-footer">
                        <div class="col_1">
                          <a class="text-primary" routerLinkActive="active" (click)="goBackPreviousNoFilter()">Back</a>
                        </div>
                        <div class="col_2"> 
                          <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    


<!-- The Add/Update Member Modal -->
<div class="modal fade custom-modal" [ngClass]="{'view-modal':isViewModal}" role="dialog" [ngStyle]="{'display': isCustomModalOpen ? 'block' : 'none', 'opacity': 1}">
  
    <div class="modal-dialog modal-dialog-centered" style="max-width: 690px; top: 7vh;">
      <div class="modal-content">        
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title"*ngIf="!isViewModal">
                <span *ngIf="isAddMode">Add Lasering</span>
                <span *ngIf="!isAddMode">Update Lasering</span>
            </h4>
            <h4 class="modal-title" *ngIf="isViewModal">Member</h4>
            <div>
              <alert></alert>
              <a class="fa fa-2x fa-times-circle" (click)="openCustomModal(false, null)">
              </a>
            </div>
        </div> 
        <!-- Modal body -->
    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
        <div class="modal-body"> 
         <div class="member-search-area">
             <div class="mandate-fields">
               <span *ngIf="submitted && !memberForm.valid">Fields marked with * are mandatory</span>
             </div>
         <div class="member-form-wrap">
             <div class="row">                
               <div class="col-md-4">
                 <div class="form-group">
                   <label>Account<small class="starmark">*</small></label>
                   <select #focusElem formControlName="clientId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clientId.errors }">
                     <option [value]="uClientId">
                       {{uClientId}}
                     </option>
                  </select>  
                 </div>
               </div>            
               <div class="col-md-4">
                 <div class="form-group">
                   <label>Contract<small class="starmark">*</small></label>
                   <select formControlName="contractId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contractId.errors }">
                     <option [value]="uContractId">{{uContractId}}</option>
                   </select>
                 </div>
               </div>            
               <div class="col-md-4">
                 <div class="form-group">
                   <label>Plan<small class="starmark">*</small></label>
                   <select formControlName="planId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.planId.errors }">
                     <option [value]="uPlanId">{{uPlanId}}</option>
                   </select>
                 </div>
               </div>
             </div>
             <div class="row">          
               <!-- <div class="col-md-4">
                 <div class="form-group">
                   <label>Tier<small class="starmark">*</small></label>                    
                   <select formControlName="tierId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tierId.errors }">
                     <option [value]="uTierId">{{uTierId}}</option>
                   </select>
                 </div>
               </div> -->
              <div class="col-md-4">
                 <div class="form-group">
                   <label>Member ID<small class="starmark">*</small></label>
                   <input type="text" formControlName="memberId" maxlength="20"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.memberId.errors }"/>
                 </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                    <label>Alternate ID</label>
                    <input type="text" formControlName="alternateId" maxlength="20" class="form-control" />
                  </div>
                </div>      
             <div class="col-md-4">
                 <div class="form-group">
                   <label>First Name<small class="starmark">*</small></label>
             <input type="text" formControlName="fname" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" />
                 </div> 
             </div>                              
           </div>
           <div class="row">
             <div class="col-md-4">
               <div class="form-group">
                 <label>Last Name<small class="starmark">*</small></label>
           <input type="text" formControlName="lname" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />
               </div>   
             </div>   
               <div class="col-md-4">
                 <div class="form-group">
                   <label>Middle Name</label>
             <input type="text" formControlName="mname" maxlength="50" class="form-control" />
                 </div> 
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                       <label>Date of Birth<small class="starmark">*</small></label> 
                       <input type="date" value="MM/DD/YYYY" formControlName="dateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" max="2999-12-31" />                            
                     </div>
               </div>  
           </div>
              <div class="row">
               <div class="col-md-4">
                    <div class="form-group">
                       <label>Member Start Date<small class="starmark">*</small></label> 
                       <input type="date" value="MM/DD/YYYY" formControlName="memberStartDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.memberStartDate.errors }" max="2999-12-31"/>
                       
                     </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                       <label>Member End Date<small class="starmark">*</small></label> 
                       <input type="date" value="MM/DD/YYYY" formControlName="memberEndDate" class="form-control" max="2999-12-31"/>
                       
                     </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                       <label>Subscriber ID</label> 
                       <input type="text" formControlName="subscriberId" maxlength="20" class="form-control"/>                        
                     </div>
               </div>
              </div>
              <div class="row">
               <div class="col-md-4">
                    <div class="form-group">
                       <label>Subscriber First Name</label> 
                       <input type="text" formControlName="subscriberFname" maxlength="50" class="form-control"/>                        
                     </div>
               </div>
               <div class="col-md-4">
                 <div class="form-group">
                    <label>Subscriber Last Name</label> 
                    <input type="text" formControlName="subscriberLname" maxlength="50" class="form-control"/>                        
                  </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                       <label>Gender<small class="starmark">*</small></label>  
                       <select class="form-control" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                         <option value=''>Select Gender</option>
                         <option value="M">Male</option>
                         <option value="F">Female</option>
                       </select>
                     </div>
               </div>    
             </div>
             <div class="row">
               <!-- <div class="col-md-4">
                  <div class="form-group switch-group">
                   Is Unlimited
                     <label class="switch">
                       <input type="checkbox" class="success" formControlName="isUnlimited" (change)="isUnlimitedChecked()">
                       <span class="slider round"></span>
                     </label>                  
               </div>
               </div>     -->
               <div class="col-md-4">
                 <div class="form-group">
                    <label>Laser Value</label> 
                    <input type="number" formControlName="laserValue" maxlength="20" class="form-control" onkeypress="return ((event.charCode !=8 && event.charCode ==0)||(event.charCode == 46) || (event.charCode >= 48 && event.charCode <= 57))"/>                        
                  </div>
               </div>   
               <div class="col-md-4" *ngIf="!isAddMode">
                 <div class="form-group">
                   <label>&nbsp;</label>
                   <div class="form-group switch-group">
                       Exclusion
                         <label class="switch">
                           <input type="checkbox" class="success" formControlName="exclusion">
                           <span class="slider round"></span>
                         </label>                  
                   </div>
                 </div>
               </div>     
              </div>
         </div>      
       </div>
     </div> 
     <div class="modal-footer">
          <div class="modal-footer-btns">
           <div class="col_1"> 
            <button type="button" class="btn btn-primary" *ngIf="isAddMode" routerLinkActive="active" (click)="goBackPreviousScreen()">Back</button>
            <button type="button" class="btn btn-primary" *ngIf="!isAddMode" routerLinkActive="active" (click)="goBackCurrentScreen()">Back</button>
           </div>
           <div class="col_2">
            <button type="button" class="btn btn-outline-primary" (click)="openCustomModal(false, null)">Cancel</button>
            <button type="submit" class="btn btn-primary" *ngIf="!isAddMode && !isViewModal">Update</button>
            <button type="submit" class="btn btn-primary" *ngIf="isAddMode">Add</button>
           </div>
          </div>
       </div>
     </form>
        </div>           
        </div>
      </div>
  
