
<div class="page-content">

    <form [formGroup]="claimSearchForm" (ngSubmit)="onSubmit(claimSearchForm)">
        <div class="card custom-card">
            <div class="card-header">
                Claim Search
            </div>
        </div>      
        <div class="card custom-card">
            <!-- <div class="card-header card-header-in">
                Member Details
            </div> -->
            <div class="card-body">
                <div class="mandate-fields">
                  <!-- <span *ngIf="submitted && !claimSearchForm.valid"></span> -->
                  <span *ngIf="isClaimSearchErr">Please enter atleast one field</span>
                  <span *ngIf="dateErr.fromDateErr">{{dateErrorMessage}}</span>
                  <span *ngIf="dateErr.fromDateInvalid">{{dateErrorMessage}}</span>
                  <span *ngIf="dateErr.toDateInvalid">{{dateErrorMessage}}</span>
                </div> 
                <div class="form-row">
                <div class="form-field">
                    <label class="form-field-label">
                        Member ID</label>
                    <div class="form-field-input">
                        <input type="text" #focusElem class="form-control field-input-text" formControlName="memberId"/>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member First Name</label>
                    <div class="form-field-input">
                        <input type="text" class="form-control field-input-text" formControlName="firstName"/>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member Last Name</label>
                    <div class="form-field-input">
                        <input type="text" class="form-control field-input-text" formControlName="lastName"/>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member Birth Date</label>
                    <div class="form-field-input">
                        <input type="date" class="form-control field-input-text" value="MM/DD/YYYY" formControlName="dateOfBirth" [max]="maxDate"/>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Service Start Date</label>
                    <div class="form-field-input">
                        <input type="date" class="form-control field-input-text" value="MM/DD/YYYY" [max]="maxDate" formControlName="fromDate"/>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Service End Date</label>
                    <div class="form-field-input">
                        <input type="date" class="form-control field-input-text" value="MM/DD/YYYY" [max]="maxDate" formControlName="toDate"/>
                    </div>
                </div>  
                <div class="form-field">
                    <div class="form-field-label">
                        <label>Claim ID</label>
                    </div>
                    <div class="form-field-input">
                        <input type="text" class="form-control field-input-text" formControlName="claimId" />
                        
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        <!-- <div class="card custom-card">
            <div class="card-header">
                Supplier
            </div>
            <div class="card-body">
                    <div class="form-row">
                        <div class="form-field">
                            <label class="form-field-label">Supplier Name</label>
                            <div class="form-field-input">
                                <input type="text" class="form-control field-input-text"  formControlName="SupplierName"/>
                            </div>
                        </div>
                        <div class="form-field">
                            <label class="form-field-label">Supplier ID</label>
                            <div class="form-field-input">
                                <input type="text" class="form-control field-input-text" formControlName="SupplierId"/>
                            </div>
                        </div>     
                    </div>
            </div>
        </div> -->
        
        <!-- <div class="card custom-card">
            <div class="card-header card-header-in">
                Service Dates
            </div>
            <div class="card-body">
                    <div class="form-row">
                </div>
        </div>
        </div> -->

        <!-- <div class="card custom-card">
            <div class="card-header">
                Rendering Practitioner
            </div>
            <div class="card-body">
                <div class="form-row">
                        <div class="form-field">
                            <label class="form-field-label">Practitioner ID</label>
                            <div class="form-field-input">
                            <input type="text" class="form-control field-input-text" formControlName="PractitionerId"/>
                            </div>
                        </div>
                        <div class="form-field">
                            <label class="form-field-label">Last Name</label>
                            <div class="form-field-input">
                            <input type="text" class="form-control field-input-text" formControlName="LastName"/>
                            </div>
                        </div>   
                        <div class="form-field">
                            <label class="form-field-label">First Name</label>
                            <div class="form-field-input">
                            <input type="text" class="form-control field-input-text"  formControlName="FirstName"/>
                            </div>
                        </div>    
                </div>
            </div>
        </div> -->

            <div class="claim-search-btns-area">
                <button class="btn btn-outline-primary" type="reset">Reset</button>
                <button class="btn btn-primary">Search</button>                  
            </div>
        </form>
 </div>
 