
<div class="page-content">

    <form [formGroup]="claimSearchForm" (ngSubmit)="onSubmit(claimSearchForm)">
        <div class="card custom-card">
            <div class="card-header">
                Member Details
            </div>
            <div class="card-body">
                <div class="form-row">
                <div class="form-field">
                    <div class="form-field-label">
                        <label>Claim ID </label>
                    </div>
                    <div class="form-field-input">
                        <input type="text" #focusElem class="form-control field-input-text" formControlName="ClaimId" />
                        <!-- <div class="invalid-feedback">
                            <div *ngIf="submitted && f.ClaimId.errors">
                                <div *ngIf="f.ClaimId.errors.required">Claim ID is required</div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">
                        Member ID</label>
                    <div class="form-field-input">
                        <input type="text" class="form-control field-input-text" formControlName="memberId"/>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member Birth Date</label>
                    <div class="form-field-input">
                        <input type="date" class="form-control field-input-text" value="MM/DD/YYYY" formControlName="DateOfBirth" [max]="maxDate"/>
                        <!-- <mat-form-field class="form-control field-input-text">
                            <input matInput [matDatepicker]="picker" formControlName="DateOfBirth" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>
                                    <span class="fa fa-calendar"></span>
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker ></mat-datepicker>
                          </mat-form-field> -->
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member First Name</label>
                    <div class="form-field-input">
                        <input type="text" class="form-control field-input-text" formControlName="Fname"/>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member Last Name</label>
                    <div class="form-field-input">
                        <input type="text" class="form-control field-input-text" formControlName="Lname"/>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="card-header">
                Supplier
            </div>
            <div class="card-body">
                    <div class="form-row">
                        <div class="form-field">
                            <label class="form-field-label">Supplier Name</label>
                            <div class="form-field-input">
                                <input type="text" class="form-control field-input-text"  formControlName="SupplierName"/>
                            </div>
                        </div>
                        <div class="form-field">
                            <label class="form-field-label">Supplier ID</label>
                            <div class="form-field-input">
                                <input type="text" class="form-control field-input-text" formControlName="SupplierId"/>
                            </div>
                        </div>     
                    </div>
            </div>
        </div>
        
        <div class="card custom-card">
            <div class="card-header">
                Service Dates
            </div>
            <div class="card-body">
                    <div class="form-row">
                        <div class="form-field">
                            <label class="form-field-label">From</label>
                            <div class="form-field-input">
                                <input type="date" class="form-control field-input-text" value="MM/DD/YYYY" [max]="maxDate" formControlName="ServiceDateFrom"/>
                            </div>
                        </div>
                        <div class="form-field">
                            <label class="form-field-label">To</label>
                            <div class="form-field-input">
                                <input type="date" class="form-control field-input-text" value="MM/DD/YYYY" [max]="maxDate" formControlName="ServiceDateTo"/>
                            </div>
                        </div>  
                </div>
        </div>
        </div>

        <div class="card custom-card">
            <div class="card-header">
                Rendering Practitioner
            </div>
            <div class="card-body">
                <div class="form-row">
                        <div class="form-field">
                            <label class="form-field-label">Practitioner ID</label>
                            <div class="form-field-input">
                            <input type="text" class="form-control field-input-text" formControlName="PractitionerId"/>
                            </div>
                        </div>
                        <div class="form-field">
                            <label class="form-field-label">Last Name</label>
                            <div class="form-field-input">
                            <input type="text" class="form-control field-input-text" formControlName="LastName"/>
                            </div>
                        </div>   
                        <div class="form-field">
                            <label class="form-field-label">First Name</label>
                            <div class="form-field-input">
                            <input type="text" class="form-control field-input-text"  formControlName="FirstName"/>
                            </div>
                        </div>    
                </div>
            </div>
        </div>

            <div class="claim-search-btns-area">
                <button class="btn btn-outline-primary" type="reset">Reset</button>
                <button class="btn btn-primary">Search</button>                  
            </div>
        </form>
 </div>
 