
    <div class="page-content">
        <div class="card custom-card">
            <div class="card-header">
            Attributes
            </div>
            <div class="card-body">
                <div class="select-grid-wrap">
                    <div class="select-grid-header">
                      <div>
                        <label class="form-field-label">
                            Attribute ID
                        </label>
                        <!-- <div class="form-field-input">
                            <select class="form-control cselect-dropdown" name="attributeId" (change)="onChangeAttribute($event.target.value)">
                                <option selected="selected" value="Select All">Select All</option>
                                <option *ngFor="let attribute of attributeIDs" [value]="attribute.attributesId">
                                    {{attribute.attributesId}}
                                </option>
                            </select>
                        </div> -->
                        <div fxLayout fxLayoutAlign="center center">
                            <mat-form-field fxFlex="40%">
                              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search Attribute ID/Description">
                            </mat-form-field>
                          </div>
                    </div>        
                    <div *ngIf="isNewAttributeAdded" class="success-dialog-msg">
                      <h2 class="text-success">New Attribute added successfully</h2>
                 </div>
                    <!-- <div *ngIf="isAttributeUpdated" class="success-dialog-msg">
                      <h2 class="text-success">Attribute updated successfully</h2>
                    </div>  -->
                    </div>
                    <div class="card-table-area attributes-table-area">
                        <div class="cust-add-area">
                            <span class="fa fa-plus-circle" (click)="openAddAttributeModal(true)"></span>
                        </div>    
                        <div class="table-responsive">
                          <div class="mat-elevation-z8">
                            <table mat-table matSort #attributeTable [dataSource]="dataSource" class="table table-bordered table-striped card-table">
                          
                              <ng-container matColumnDef="attributeId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="c-id"> Attribute ID </th>
                                <td mat-cell *matCellDef="let element" class="c-id"> {{element.attributeId}} </td>
                              </ng-container>

                              <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="c-desc"> Description </th>
                                <td mat-cell *matCellDef="let element" class="c-desc"> {{element.description}} </td>
                              </ng-container>
      
                              <!-- Action Column -->
                              <ng-container matColumnDef="updateid">
                                <th mat-header-cell *matHeaderCellDef class="c-action"> Action </th>
                                <td mat-cell *matCellDef="let element" class="action-link c-action"> 
                                  <span class="fa fa-edit" ></span>
                                </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
                          </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    
    
<!-- The Add Modal -->
<div id="addAttributeModal" class="modal fade" role="dialog" [ngStyle]="{'display': isAddAttributeModalOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                <span>Add Attribute</span>
            </h4>
            <a class="fa fa-2x fa-times-circle" (click)="openAddAttributeModal(false)">
            </a>
        </div>
        <!-- Modal body -->
        <div class="modal-body">          
    <div class="add-role-area">
    <form [formGroup]="addAttributeForm" (ngSubmit)="addAttribute(addAttributeForm)"  autocomplete="off">
              <div class="form-group">
                <label for="descrip">Description 
                  <small class="starmark">*</small></label>
                <input type="text" class="form-control" id="descrip" formControlName="description" >  
              </div>
          <div class="modal-footer-btns">
            <button type="button" class="btn btn-outline-success"  (click)="openAddAttributeModal(false)">Cancel</button>
            <button type="submit" class="btn btn-success">Add</button>
          </div>
          </form>
          </div>  <!-- end of add-Attribute-area -->
        </div>           
        </div>
      </div>
    </div>

