a{
    cursor: pointer;
  }
  
  .nav-side-menu {
      width: 100%;      
      background: #354f81;
      color: #ffffff;
    }
    .nav-side-menu .brand {
      height: 70px;
      align-items: center;
      background: rgb(231 240 255);
      border-radius: 50%;
      position: relative;
      top: 6px;
      left: 10px;
      width: 170px;
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 0;
      filter: drop-shadow(1px 1px 3px rgb(231, 240, 255));
    }
    .nav-side-menu .brand a{
      display: inline-block;
    }
    .nav-side-menu .brand img{
        max-width: 121px;
        position: relative;
        left: 0;
        filter: drop-shadow(2px 2px 3px rgba(0, 44, 119, 0.3));
    }
    .nav-side-menu .toggle-btn {
      display: none;
    }
    .nav-side-menu ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    .nav-side-menu li {
      padding: 0;
      margin: 0;
      line-height: normal;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
    }
    .nav-side-menu li a {
      text-decoration: none;
      color: #555555;
      display: block;
      cursor: pointer;
      font-size: 14px;
    }
    .nav-side-menu li a:hover{
      color: #ffffff !important;
    }
    .nav-side-menu li a span {
      font-size: 14px;
    }
    .nav-side-menu ul>li{
        padding-left: 15px;
    }
    .nav-side-menu ul ul ul li{
        padding-left: 25px;
    }
    ul.menu-content li.active .arrow:before {
      font-family: FontAwesome;
      content: "\f078"; /* Expanded or opened icon-arrow */
      position: absolute;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      color: #ffffff;
      right: 15px;
      top: 1px;
    }
    ul.menu-content li.active.collapsed .arrow:before {
      content: "\f105"; /* collapsed or closed icon-arrow */
    }
    .nav-side-menu ul .active,
    .nav-side-menu li.active {
      border: none;
      /* background-color: #00718f; */
      background-color: #354f81;
    }
    .nav-side-menu li.active a{
      color: #ffffff;
    }
    .nav-side-menu li.active, 
    .nav-side-menu li.active a:hover, 
    .nav-side-menu li a:hover{
      color: #ffffff;
    }
    .nav-side-menu ul .sub-menu li {
      padding-left: 20px;
      position: relative;
    }
    .nav-side-menu ul .sub-menu li.active,
    .nav-side-menu li .sub-menu li.active {
      background-color: #1181a0;
    }
    .nav-side-menu ul .sub-menu li.active a,
    .nav-side-menu li .sub-menu li.active a {
      background-color: #1181a0;
    }
    .nav-side-menu ul .sub-menu li,
    .nav-side-menu li .sub-menu li {
      background-color: #354f81;
      border: none;
      /* border-bottom: 1px solid #9ad4e4; */
      margin-left: 0;
      padding: 5px 0 8px 25px;
    }
    .nav-side-menu li ~ .sub-menu li a{
        color: #ffffff;
    }
    .nav-side-menu li ~ .sub-menu li:hover {
      background-color: #1181a0;
    }
  .nav-side-menu li ~ .sub-menu li:before {
      font-family: FontAwesome;
      content: "";
      display: inline-block;
      /*padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      color: #ffffff;
      position: absolute;
      right: 15px;
      top: 5px;
      font-size: 20px;*/
    }
    .nav-side-menu li ~ .sub-menu li.active.collapsed .arrow:before {
      content: '';
    }
  
    @media (max-width: 767px) {
      .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
      }
      .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 25px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
      }
    }
    @media (min-width: 767px) {
      .nav-side-menu .menu-list .menu-content {
        display: block;
      }
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    