
<div class="page-content">
    <div class="card custom-card member-search">
        <form [formGroup]="memberSearchForm" (ngSubmit)="searchLasering(memberSearchForm)">
          <div class="card-header">
              Lasering Search
          </div>
          <div *ngIf="loaderService.isLoading | async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
           </div>
          <div class="card-body">
            <div class="mandate-fields">
              <div *ngIf="memSearchSubmitted && !memberSearchForm.valid">Please enter atleast one field</div>
              <div *ngIf="noSearchFieldEntered">Please enter atleast one field</div>
              <div *ngIf="memIdErr.isValid">{{memIdErr.errMsg}}</div>
              <div *ngIf="memSubIdErr.isValid">{{memSubIdErr.errMsg}}</div>
              <div *ngIf="memFnameErr.isValid">{{memFnameErr.errMsg}}</div>
              <div *ngIf="memMnameErr.isValid">{{memMnameErr.errMsg}}</div>
              <div *ngIf="memLnameErr.isValid">{{memLnameErr.errMsg}}</div>
              <div *ngIf="memStartDateErr.isValid">{{memStartDateErr.errMsg}}</div>
              <div *ngIf="memEndDateErr.isValid">{{memEndDateErr.errMsg}}</div>
              <div *ngIf="coverageTierErr.isValid">{{coverageTierErr.errMsg}}</div>
              <div *ngIf="altIdErr.isValid">{{altIdErr.errMsg}}</div>
              <div *ngIf="accountIdErr.isValid">{{accountIdErr.errMsg}}</div>
              <div *ngIf="memMaxMinErr.isValid">{{memMaxMinErr.errMsg}}</div>
            </div>  
              <div class="form-row">
                <div class="form-field">
                  <label class="form-field-label">Account ID</label>
                  <div class="form-field-input">
                    <input #focusMemSearch type="text" class="form-control field-input-text" (keyup)="validateInputIDs($event.target.value,'clientId')" formControlName="clientId"  [ngClass]="{ 'is-invalid': accountIdErr.isValid }"/>  <!--(VE 13-08-2021 )-->
                  </div>
              </div>
              <div class="form-field">
                <label class="form-field-label">Medica Benefit Plan ID</label>
                <div class="form-field-input">
                  <input type="text" class="form-control field-input-text" formControlName="benefitPlanId" />
                </div>
            </div>
            <div class="form-field">
              <label class="form-field-label">Coverage Tier</label>
              <div class="form-field-input">
                <input type="text" 
                 class="form-control field-input-text" formControlName="tier" (keyup)="validateInputNames($event.target.value,'tier')" [ngClass]="{ 'is-invalid': coverageTierErr.isValid }" /><!--(VE 13-08-2021 )-->
              </div>
          </div>
              <div class="form-field">
                  <div class="form-field-label">
                      <label>Medica Member ID</label>
                  </div>
                  <div class="form-field-input">
                    <input #focusMemSearch type="text" class="form-control field-input-text"(keyup)="validateInputIDs($event.target.value,'MemberID')" formControlName="MemberId" [ngClass]="{ 'is-invalid': memIdErr.isValid }"/>  <!--(VE 13-08-2021 )-->
                  </div>
              </div>
              <div class="form-field">
                  <label class="form-field-label">
                      Medica Subscriber ID</label>
                  <div class="form-field-input">
                    <input type="text" class="form-control field-input-text" formControlName="SubscriberId" (keyup)="validateInputIDs($event.target.value,'SubscriberId')"[ngClass]="{ 'is-invalid': memSubIdErr.isValid }" /><!--(VE 13-08-2021 )-->
                  </div>
              </div>
              <!--(VE 28-Jul-2021  starts)-->
              <div class="form-field">
                <label class="form-field-label">Alternate Member ID</label>
                <div class="form-field-input">
                  <input type="text" class="form-control field-input-text"formControlName="alternateId" (keyup)="validateInputIDs($event.target.value,'alternateId')" [ngClass]="{ 'is-invalid': altIdErr.isValid }" /> <!--(VE 13-08-2021 )-->
                </div>
            </div>
            <!--(VE 28-Jul-2021  ends)-->
              <div class="form-field">
                  <label class="form-field-label">Member First Name</label>
                  <div class="form-field-input">
                    <input type="text" class="form-control field-input-text" formControlName="Fname" (keyup)="validateInputNames($event.target.value,'Fname')"  [ngClass]="{ 'is-invalid': memFnameErr.isValid }"/><!--(VE 13-08-2021 )-->
                  </div>
              </div>
              <div class="form-field">
                  <label class="form-field-label">Member Last Name</label>
                  <div class="form-field-input">
                    <input type="text"  
                   class="form-control field-input-text" formControlName="Lname"(keyup)="validateInputNames($event.target.value,'Lname')" [ngClass]="{ 'is-invalid':memLnameErr.isValid }"/><!--(VE 13-08-2021 )-->
                  </div>
              </div>
              <div class="form-field">
                  <label class="form-field-label">Member Middle Name</label>
                  <div class="form-field-input">
                    <input type="text"  class="form-control field-input-text" formControlName="Mname" (keyup)="validateInputNames($event.target.value,'Mname')" [ngClass]="{ 'is-invalid':memMnameErr.isValid }"/> <!--(VE 13-08-2021 )-->
                  </div>
              </div>
              <div class="form-field">
                  <label class="form-field-label">Gender</label>
                  <div class="form-field-input">
                      <select class="form-control" formControlName="Gender">
                          <option value='' selected></option>
                          <option value="M">Male</option>
                          <option value="F">Female</option>
                      </select>
                  </div>
              </div>
              <div class="form-field">
                  <label class="form-field-label">Member Start Date</label>
                  <div class="form-field-input">
                      <input type="date" value="MM/DD/YYYY" class="form-control field-input-text" formControlName="MemberStartDate" max="2999-12-31" />
                  </div>
              </div>
              <div class="form-field">
                  <label class="form-field-label">Member End Date</label>
                  <div class="form-field-input">
                      <input type="date" value="MM/DD/YYYY" class="form-control field-input-text" formControlName="MemberEndDate" max="2999-12-31" />
                  </div>
              </div>
              <div class="form-field">
                  <label class="form-field-label">Birth Date</label>
                  <div class="form-field-input">
                      <input type="date" value="MM/DD/YYYY" class="form-control field-input-text" formControlName="DateOfBirth" [max]="today" />
                  </div>
              </div>
              <!-- <div class="form-field">
                  <label class="form-field-label">Status</label>
                  <div class="form-field-input">
                      <input type="text" class="form-control field-input-text" formControlName="status"/>
                  </div>
              </div> -->
              <!-- <div class="form-field" style="width: 200px; left: 11%;">
              <div class="form-group switch-group" style="width: 100%">
                  Active
                    <label class="switch">
                      <input type="checkbox" class="success" formControlName="Status">
                      <span class="slider round"></span>
                    </label>                  
              </div> </div> -->
          </div>
          </div>
          <div class="card-footer">
            <div class="member-search-btns-area">  
              <div class="col_1"> 
                <!--(VE 9/8/2021 starts)--> 
                <div>
                  
              <div class="range-area">
                <span>Limit &nbsp;</span>
              <input type ="number" class="form-control" formControlName="maxPage" (keyup)="limit($event.target.value)" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
              </div>
              </div>  
              </div>
                <!--(VE 9/8/2021 ends)--> 
                <div class="col_2">
                  <button class="btn btn-outline-primary" type="button" (click)="resetLaseringSearch()">Reset</button>    
                  <button class="btn btn-primary">Search</button>  
                </div>          
            </div>
          </div>
      </form>
      </div>
</div>