<div class="page-content">
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/claim-search" routerLinkActive="active">Claim Search</a></li>
          <li class="breadcrumb-item active" aria-current="page">Claim</li>
        </ol>
      </nav> -->
    <div class="card claim-card">
        <div class="card-header claim-actions-header">
            <h5>Claim Details</h5>
           <!-- <h5>Actions </h5>
             <a class="btn btn-primary" (click)="calculateClaimAmount()">Calculate</a> -->
            <!-- <a class="refresh-link" (click)="refreshClaim()">
                <span class="fa fa-refresh"></span> Refresh
            </a> -->
        </div>
        <div class="card-body claim-form">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Member ID</label>
                        <input type="text" class="form-control" [value]="claimData.memberId" readonly/>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" [value]="claimData.fname" readonly/>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" [value]="claimData.lname" readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <input type="text" class="form-control" [value]="claimData.dateOfBirth | date:'MM/dd/yyyy'" readonly/>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Paid Date</label>
                        <input type="text" class="form-control" [value]="claimData.paidDate | date:'MM/dd/yyyy'" readonly/>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Paid Amount</label>
                        <input type="text"  class="form-control" [value]="claimData.paidAmount" readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12 pos-r">
                    <div class="form-group">
                        <label>Received On</label>
                        <input type="text" class="form-control" [value]="claimData.climReceivedOn | date:'MM/dd/yyyy'" readonly/>
                    </div>
                    <!-- <div class="form-check-inline claim-form-checkbox">
                        <label class="form-check-label">
                           Received On
                        <input type="checkbox" class="form-check-input" name="ismanuallypriced" [checked]="claimData.manuallyPriced" disabled readonly > 
                        </label>
                    </div> -->
                </div>
                <div class="col-md-4 col-sm-6 col-12 pos-r">                   
                    <div class="form-group">
                        <label>Adjudicate Date</label>
                        <input type="text" class="form-control" [value]="claimData.adjudicatedOn | date:'MM/dd/yyyy'" readonly/>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Laser Value</label>
                        <input type="text" class="form-control" [value]="claimData.laserValue" readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12 pos-r">
                    <div class="custom-control custom-checkbox checkbox-wrap">
                        <div class="chk-1">
                            <label >Is Unlimited</label>     
                        </div>
                        <div class="chk-2">                       
                            <input type="checkbox" class="form-control" disabled checked [value]="locIsUnlimited">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 pos-r">
                    <div class="form-group">
                        <label>Client Name</label>
                        <input type="text" class="form-control" [value]="claimData.clientName" readonly/>
                    </div>
                </div>   
                <div class="col-md-4 col-sm-6 col-12 pos-r">
                    <div class="form-group">
                        <label>Contract ID</label>
                        <input type="text" class="form-control" [value]="claimData.contractId" readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Plan Name</label>
                        <input type="text" class="form-control" [value]="claimData.planName" readonly/>
                    </div>
                </div>        
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Member start Date </label>
                        <input type="text" class="form-control"  [value]="claimData.memberStartDate | date:'MM/dd/yyyy'" readonly/>
                    </div>
                </div>  
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Member End Date </label>
                        <input type="text"  class="form-control"  [value]="claimData.memberEndDate | date:'MM/dd/yyyy'" readonly/>
                    </div>
                </div>  
            </div>
            <!-- <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Stop Loss Amount</label>
                        <input type="text" class="form-control" [value]="stopLossAmount" readonly/>
                    </div> 
                </div> 
            </div>  -->
            </div>
            <div class="card-footer">
                <div class="custom-card-footer">
                    <div class="col_1">
                        <a class="text-primary" (click)="goBackClaimSearch()">Back</a>
                    </div>
                    <div class="col_2"> </div>
                </div>
            </div>
            <!-- <h1 class="coming-soon">Claim Screen is in Progress. It will render as soon as possible.</h1> -->
        </div>
    </div>
