
 <div class="page-content">
  
    <div class="card custom-card">
     <div class="card-header">
           <h3>Plan</h3>
           <div class="edit-update-alert">
              <alert></alert>
           </div>
     </div>
     <div class="card-body">
         <div class="select-grid-wrap">
             <div class="select-grid-header">
               <div>
                 <label class="form-field-label">
                     Search Plan 
                 </label>
                 <div fxLayout fxLayoutAlign="center center">
                   <mat-form-field fxFlex="40%">
                     <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search a  Plan">
                   </mat-form-field>
                 </div>   
               </div> 
             </div> 
             <div class="card-table-area">
         <div class="table-responsive">
             <div class="cust-add-area">
                 <span class="fa fa-plus-circle" (click)="openCustomModal(true, null)"></span>
             </div>    
             <div class="mat-elevation-z8">
               <table mat-table matSort #planTable [dataSource]="dataSource" class="table table-bordered table-striped table-hover card-table">
             
                 <ng-container matColumnDef="clientName">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header > Account </th>
                   <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                 </ng-container>
                 <ng-container matColumnDef="planCode">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header > Plan ID </th>
                   <td mat-cell *matCellDef="let element"> {{element.planCode}} </td>
                 </ng-container>
                 <ng-container  matColumnDef="planName">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header > Plan Name </th>
                   <td mat-cell *matCellDef="let element"> {{element.planName}} </td>
                 </ng-container>
                
                 <ng-container matColumnDef="planID">
                   <th mat-header-cell *matHeaderCellDef> Action </th>
                   <td mat-cell *matCellDef="let element" class="action-link"> 
                     <span class="fa fa-edit" 
                           (click)="openCustomModal(true, element)"></span>
                   </td>
                 </ng-container>
                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               </table>
               <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
             </div>
         </div>
         </div>
         </div>
     </div>
   </div>
   </div>
   
   
   <!-- Add/Update Plans Modal -->
   <div class="modal fade" role="dialog" [ngStyle]="{'display': isCustomModalOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 850px;">
      <div class="modal-content">        
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                <span *ngIf="isAddMode">Add Plan</span>
                <span *ngIf="!isAddMode">Update Plan</span>
            </h4>
            <a class="fa fa-2x fa-times-circle" (click)="openCustomModal(false, null)">
            </a>
        </div>
        <!-- Modal body -->
        <div class="modal-body"> 
    <div class="helth-plan-form-area">
    <form [formGroup]="planForm" (ngSubmit)="onSubmit()">
             <div class="mandate-fields">
               <span *ngIf="submitted && !planForm.valid">Fields marked with * are mandatory</span>
               <span *ngIf="submitted && isNoFactAmount">Enter any Fact Amount. Atleast One Fact amount is required</span>
             </div>  
             <div class="row">
                 <div class="col-md-4">
                  <div class="form-group">
                    <label>Plan ID<small class="starmark">*</small></label>
                    <input #focusElem type="text" class="form-control" formControlName="planCode" [ngClass]="{ 'is-invalid': submitted && f.planCode.errors }" />
                  </div>
                 </div>
                 <div class="col-md-4">
                  <div class="form-group">
                    <label>Plan Name<small class="starmark">*</small></label>
                    <input type="text" formControlName="planName" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.planName.errors }" />                
                        </div>   
                 </div>
                 <div class="col-md-4">  
                  <div class="form-group">
                    <label>Account<small class="starmark">*</small> </label>
              <select formControlName="clientId" class="form-control" (change)="getContractsByClient($event)" [ngClass]="{ 'is-invalid': submitted && f.clientId.errors }">
                    <option *ngFor="let client of locClients" [value]="client.clientId">
                        {{client.clientName}}
                    </option>
                  </select>
                  </div>
                 </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                       <label>Contract<small class="starmark">*</small> </label>
                       <select formControlName="contractId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contractId.errors }">
                         <option *ngFor="let contract of activeContracts" [value]="contract.contractId">
                           {{contract.contractId}}
                       </option>
                           </select>
                     </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>{{locTires[0].tierName}} Fact Amount</label>
                  <input type="text" formControlName="tier1Aggfactamt" [value]="locTires[0].tierId" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>{{locTires[1].tierName}} Fact Amount</label>
                  <input type="text" formControlName="tier2Aggfactamt" [value]="locTires[1].tierId"  class="form-control" />
                      </div>
                    </div>
                   </div>  
                   <div class="row">
                     <div class="col-md-4">
                      <div class="form-group">
                        <label>{{locTires[2].tierName}} Fact Amount</label>
                  <input type="text" formControlName="tier3Aggfactamt" [value]="locTires[2].tierId" class="form-control" />
                      </div>
                     </div>
                     <div class="col-md-4">
                      <div class="form-group">
                     <label>{{locTires[3].tierName}} Fact Amount</label>
               <input type="text" formControlName="tier4Aggfactamt" [value]="locTires[3].tierId" class="form-control" />
                   </div>
                     </div>
                     <!-- <div class="col-md-4">
                      <div class="form-group">
                        <label>Family Specific Deductible</label>
                  <input type="text" formControlName="familySpecificDeductible" class="form-control" />
                      </div>
                     </div> -->
                   </div>
                   <div class="row">
                     <div class="col-md-4">
                      <div class="form-group switch-group">
                        <label>Is Terminal Coverage</label>                        
                        <label class="switch">
                          <input type="checkbox" class="success" formControlName="isTerminalExtCoverage">
                          <span class="slider round"></span>
                        </label>  
                      </div>
                     </div>
                     <div class="col-md-4" *ngIf="!isAddMode">
                      <div class="form-group switch-group">
                        Active
                          <label class="switch">
                            <input type="checkbox" class="success" formControlName="status">
                            <span class="slider round"></span>
                          </label>                  
                    </div> 
                     </div>
                   </div>
             
             
          <div class="modal-footer-btns">
            <button type="button" class="btn btn-outline-primary" (click)="openCustomModal(false, null)">Cancel</button>
            <button type="submit" class="btn btn-primary" *ngIf="!isAddMode">Update</button>
            <button type="submit" class="btn btn-primary" [disabled]="isDisabled" *ngIf="isAddMode">Add</button>
          </div>
          </form>
          </div> 
        </div>           
        </div>
      </div>
    </div>
   
   
   
   
   