
<div class="page-content">
      <div class="card custom-card">
        <div class="card-header">
            Roles
            <alert></alert>
        </div>
        <div class="card-body">
            <div class="select-grid-wrap role-select-grid-wrap">
           
            <div class="select-grid-header">
              <div>
                <div class="form-field-label">
                    <label>Search Role</label>
                </div>
                <!-- <div class="form-field-input">
                    <select class="form-control cselect-dropdown" (change)="onChangeRole($event.target.value)">
                     <option value="Select All" selected="selected">
                        Select All
                     </option>
                      <option *ngFor="let robj of roleNames" [value]="robj.roleName">
                          {{robj.roleName}}</option>
                    </select>
                </div> -->
                <div fxLayout fxLayoutAlign="center center">
                  <mat-form-field fxFlex="40%">
                    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search a Role">
                  </mat-form-field>
                </div>
            </div>
            <!-- <div *ngIf="isNewRoleAdded" class="success-dialog-msg">
                 <h2>New Role added successfully</h2>
            </div>
            <div *ngIf="isRoleUpdated" class="success-dialog-msg">
                 <h2>Role updateed successfully</h2>
            </div> -->
            </div>
            <div class="card-table-area role-table-area">
              <div class="table-responsive">
                  <div class="cust-add-area">
                      <span class="fa fa-plus-circle" (click)="openCustomModal(true, null)"></span>
                  </div>   
                  <div class="mat-elevation-z8">
                    <table mat-table matSort [dataSource]="dataSource" class="table table-bordered table-striped card-table">
                  
                      <ng-container matColumnDef="roleName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                        <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                        <td mat-cell *matCellDef="let element" class="md-ellipsis" [matTooltip]="element.description" matTooltipPosition="below"> 
                          {{element.description}} </td>
                      </ng-container>
                      <ng-container matColumnDef="menueAccess">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu Access </th>
                        <td mat-cell *matCellDef="let element"> {{element.menueAccess}} </td>
                      </ng-container>
                      
                      <!-- Action Column -->
                      <ng-container matColumnDef="roleId">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link"> 
                          <span class="fa fa-edit" 
                          (click)="openCustomModal(true, element)"></span>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
                  </div> 
              </div>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" [ngStyle]="{'display': isCustomModalOpen ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">  
      <!-- Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title">
              <span *ngIf="isAddMode">Add Role</span>
              <span *ngIf="!isAddMode">Update Role</span>
          </h4>
          <a class="fa fa-2x fa-times-circle" (click)="openCustomModal(false, null)">
          </a>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
          <div class="mandate-fields">
            <span *ngIf="submitted && !roleForm.valid">Fields marked with * are mandatory</span>
          </div>  
           <div class="row"> 
              <div class="col-md-12">  
                <div class="form-group">
                    <label>Role Name<small class="starmark">*</small></label>                   
                    <input type="text" formControlName="roleName" #focusElem class="form-control" [ngClass]="{ 'is-invalid': submitted && f.roleName.errors }" />
                    <!-- <div class="invalid-feedback">
                        <div *ngIf="submitted && f.roleName.errors">
                            <div *ngIf="f.roleName.errors.required">
                              Role Name is required</div>
                        </div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Description<small class="starmark">*</small></label>                   
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                    <!-- <div class="invalid-feedback">
                        <div *ngIf="submitted && f.description.errors">
                            <div *ngIf="f.description.errors.required">
                              Description is required</div>
                        </div>
                    </div> -->
                </div>
              </div>
           </div>
           <div class="row form-btns-area">
            <button class="btn btn-outline-primary" (click)="openCustomModal(false, null)">Cancel</button>
               <button [disabled]="loading" class="btn btn-primary" *ngIf="!isAddMode">
                   <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                   Update
               </button>
               <button [disabled]="loading" class="btn btn-primary" *ngIf="isAddMode">
                   <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                   Add
               </button>
           </div>
       </form>  
      </div>          
      </div>
    </div>
  </div>

