
  <div class="plan-factor-area">
    <form [formGroup]="userTable">
        <div class="card-table-area">
    <div class="table-responsive">
        <div class="cust-add-area">
            <span class="fa fa-plus-circle"  (click)="addRow()"></span>
        </div>    
        <div class="mat-elevation-z8">
            <table class="table table-bordered table-striped table-hover card-table plan-factor-table">
                <thead>
                <th>Stop Loss Tier</th>
                <th>Stop Loss Tier Factor</th>
                <th>Expected Claim Rate</th>
                <th>Terminal Extension Coverage (Y/N)</th>
                <th></th>
                </thead>
                <tbody>
                <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
                    <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
                    <td>
                        <mat-form-field>
                        <input matInput type="text" formControlName="stopLossTier">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                        <input matInput type="text" formControlName="stopLossTierFactor">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                        <input matInput type="text" formControlName="expectedClaimRate">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                        <input matInput type="text" formControlName="terminationExtCoverage">
                        </mat-form-field>
                    </td>
                    </tr>
                   
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
        </form>
</div>