
 <div class="page-content">
  
   <div class="card custom-card">
      <div class="card-header">
      Contracts
      <!-- <alert></alert> -->
      
      </div>
      <div class="card-body">
          <div class="select-grid-wrap">
            <div class="select-grid-header">
              <div>
                  <label class="form-field-label">
                      Search Contract
                  </label>     
                  <div class="search-field-clear-area">         
                    <div fxLayout fxLayoutAlign="center center">
                      <mat-form-field fxFlex="40%">
                        <input matInput type="text" #filterSearchInput [value]="searchInputValue" (keyup)="doFilter($event.target.value)" (focus)="doFilter($event.target.value)" placeholder="Search a Contract">
                      </mat-form-field>
                    </div> 
                    <div class="clear-btn-div">
                      <button type="button" class="btn btn-outline-secondary" (click)="clearSearchInput()">Clear</button>
                    </div>
                  </div> 
              </div>  
               
            </div>
  
            <div class="card-table-area">
              <div class="table-responsive">
                  <div class="cust-add-area">
                      <span class="fa fa-plus-circle" (click)="openCustomModal(true, null)" *ngIf="isAdmin"></span>
                  </div>    
                  <div class="mat-elevation-z8">
                    <table mat-table matSort #contractTable [dataSource]="dataSource" class="table table-bordered table-striped table-hover card-table">
                  
                      <ng-container matColumnDef="clientName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > Account </th>
                        <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="contractId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > Contract </th>
                        <td mat-cell *matCellDef="let element"> {{element.contractId}} </td>
                      </ng-container>                  
                      <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > Effective Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.startDate | date:'MM/dd/yyyy'}} </td>
                      </ng-container>
                      <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > End Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.endDate | date:'MM/dd/yyyy'}} </td>
                      </ng-container>
                      <ng-container matColumnDef="clientId">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link"> 
                          <span class="view-icon" 
                                (click)="openViewModal(true, element.contractId)" title="View"></span>
                          <span class="fa fa-edit" 
                                (click)="openCustomModal(true, element.contractId)" title="Update" *ngIf="isAdmin"></span>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </div>
              </div>
              <div class="grid-footer">
                <div class="col_1">
                  <a class="text-primary" routerLinkActive="active" (click)="goBackPreviousNoFilter()">Back</a>
                </div>
                <div class="col_2"> 
                  <mat-paginator [pageSizeOptions]="[100, 500, 999]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
              </div>
              </div>
      </div>
  </div>
</div>
<!-- Add/Update Plans Modal -->
<div class="modal fade contract-modal" [ngClass]="{'view-modal':isViewModal}" role="dialog" [ngStyle]="{'display': isCustomModalOpen ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">        
      <!-- Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title" *ngIf="!isViewModal">
              <span *ngIf="isAddMode">Add Contract</span>
              <span *ngIf="!isAddMode">Update Contract</span>
          </h4>
          <h4 class="modal-title" *ngIf="isViewModal">Contract</h4>
          <div>
            <alert></alert>
            <a class="fa fa-2x fa-times-circle" (click)="openCustomModal(false, null)">
            </a>
          </div>
      </div>
      <!-- Modal body -->
  <form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
    <div *ngIf="loaderService.isLoading | async" class="loader-container"><!--added by venkatesh Enigonda-->
      <mat-spinner  [diameter]="75" style="top:35%;left:42%"></mat-spinner>
     </div><!--Ends Here-->
      <div class="modal-body"> 
        
  <div class="contract-form-area">
    <div class="mandate-fields">
     <div *ngIf="submitted && (!contractForm.valid && !contractForm.errors?.dates)">Fields marked with * are mandatory</div>
     <div *ngIf="contractForm.errors">{{ contractForm.errors?.dates | json }}</div>
     <div *ngIf="startDateErr.isDateErr">{{startDateErr.dateErrMsg}}</div>
     <div *ngIf="endDateErr.isDateErr">{{endDateErr.dateErrMsg}}</div>
     <div *ngIf="runInStartErr.isDateErr">{{runInStartErr.dateErrMsg}}</div>
     <div *ngIf="runInEndErr.isDateErr">{{runInEndErr.dateErrMsg}}</div>
     <div *ngIf="runOutStartErr.isDateErr">{{runOutStartErr.dateErrMsg}}</div>
     <div *ngIf="runOutEndErr.isDateErr">{{runOutEndErr.dateErrMsg}}</div>
     <div *ngIf="terminationDateErr.isDateErr">{{terminationDateErr.dateErrMsg}}</div>
     <div *ngIf="checkPolicyYearErr.isValid">{{checkPolicyYearErr.errMsg}}</div><!--Modified by venkatesh Enigonda-->
     <div *ngIf="isContractStartDateInvalid">{{contractStartDateErrMsg}}</div>
     <div *ngIf="exIncStartEndErr.isDateErr">{{exIncStartEndErr.dateErrMsg}}</div>
     <div *ngIf="exIncStartErr.isDateErr">{{exIncStartErr.dateErrMsg}}</div>
     <div *ngIf="exPaidStartEndErr.isDateErr">{{exPaidStartEndErr.dateErrMsg}}</div>
     <div *ngIf="exPaidStartErr.isDateErr">{{exPaidStartErr.dateErrMsg}}</div>
     <div *ngIf="updateNoChange.flag">{{updateNoChange.message}}</div>
     <!-- <div *ngIf="startDateRangeErr.isDateErr">{{startDateRangeErr.dateErrMsg}}</div> -->
    </div>  
    <div class="contract-form-wrap">
           <div class="row">
             <div class="col-md-4">
              <div class="form-group">
                <label>Contract ID</label>
                  <input type="text" readonly="true"  formControlName="contractId" class="form-control"/>
              </div>
             </div>
             <div class="col-md-4">
              <div class="form-group">
                <label>Account<small class="starmark">*</small> </label>
                <select #focusElem formControlName="clientId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clientId.errors }" (focus)="getClientDetails($event.target.value)" (change)="getClientDetails($event.target.value)">
                  <option *ngFor="let client of activeClients" [value]="client.clientId">
                    {{client.clientName}} ({{client.clientId}})
                  </option>
               </select>                 
              </div>       
             </div>
             <!-- <div class="col-md-4">
              <div class="form-group">
                <label>Claim Adminstrator </label>
                <input type="text" formControlName="claimsAdministrator" class="form-control" />
              </div>
             </div> -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contract Start Date<small class="starmark">*</small></label>
                  <input type="date" value="MM/dd/yyyy" formControlName="startDate" class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors || startDateErr.isDateErr}"/> 
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-md-4">
                <div class="form-group">
                 <label>Pharmacy Claims Administrator  </label>
                 <input type="text" formControlName="pharmacyClaimsAdministrator" class="form-control" />
               </div>
              </div> -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contract End Date<small class="starmark">*</small></label>
                  <input type="date" value="MM/dd/yyyy" formControlName="endDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors  || startDateErr.isDateErr }" max="2999-12-31"/> 
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Run In Start Date</label>
                  <input type="date" value="MM/dd/yyyy" formControlName="runInStartDate" class="form-control"  max="2999-12-31"  [ngClass]="{ 'is-invalid': runInStartErr.isDateErr}"/> 
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Run In End Date</label>
                  <input type="date" value="MM/dd/yyyy" formControlName="runInEndDate" class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': runInStartErr.isDateErr}"/> 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Run Out Start Date</label>
                  <input type="date" value="MM/dd/yyyy" formControlName="runOutStartDate" class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': runOutStartErr.isDateErr}" /> 
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Run Out End Date</label>
                  <input type="date" value="MM/dd/yyyy" formControlName="runOutEndDate" class="form-control"  max="2999-12-31" [ngClass]="{ 'is-invalid': runOutStartErr.isDateErr}" /> 
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Termination Date</label>
                  <input type="date" value="MM/dd/yyyy" formControlName="terminationDate" class="form-control" max="2999-12-31" [ngClass]="{ 'is-invalid': submitted &&  terminationDateErr.isDateErr}" /> 
                </div>  
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Description</label>
                  <input type="text"  formControlName="description" class="form-control"/> 
                </div>  
              </div> -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Policy Year</label>
                  <input type="text" maxlength="10" formControlName="policyYear" class="form-control"/> 
                </div>  
              </div>
              <!-- <div class="col-md-4" *ngIf="!isAddMode">
                  <div class="form-group switch-group">
                    Active
                      <label class="switch">
                        <input type="checkbox" class="success" formControlName="status" checked>
                        <span class="slider round"></span>
                      </label>                  
                </div> 
              </div> -->
            </div>
              <h1>Claims Exclusions</h1>
               <div class="row">
               <div class="col-md-4">
                <div class="form-group">
                  <label>Exclusion_Incurred Period Start Date</label>
                  <input type="date" value="MM/dd/yyyy" formControlName="exclusionIncurredStartDate" class="form-control"  max="2999-12-31" [ngClass]="{ 'is-invalid': exIncStartEndErr.isDateErr|| exIncStartErr.isDateErr }" /> 
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Exclusion_Incurred Period End Date</label>
                      <input type="date"class="form-control" formControlName="exclusionIncurredEndDate" value="MM/dd/yyyy"  max="2999-12-31" [ngClass]="{ 'is-invalid': exIncStartEndErr.isDateErr}" /> 
                      </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Exclusion_Paid Start Date</label>
                          <input type="date" class="form-control" formControlName="exclusionPaidStartDate" value="MM/dd/yyyy"  max="2999-12-31" [ngClass]="{ 'is-invalid': exPaidStartEndErr.isDateErr|| exPaidStartErr.isDateErr }"/> 
                          </div>
                          </div>
                          </div>
                          <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Exclusion_Paid End Date</label>
                              <input type="date"class="form-control" formControlName="exclusionPaidEndDate"  value="MM/dd/yyyy" max="2999-12-31" [ngClass]="{ 'is-invalid': exPaidStartEndErr.isDateErr}" /> 
                              </div>
                              </div>
                  
                            </div>
                    
                    <div class="audit-table-area" *ngIf="!isAddMode">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Updated by</th>
                            <th>Updated On</th>
                            <th>Action</th>
                          </tr>                 
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of contractAudits">
                            <td>{{obj.userId}}</td>
                            <td>{{obj.sysDate}}</td>
                            <td *ngIf="obj.actionType=='U'">Update</td>
                            <td *ngIf="obj.actionType=='I'">Add</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
           </div>
        </div> 
        <div class="modal-footer">
          <div class="modal-footer-btns">
            <div class="col_1">
              <button type="button" class="btn btn-primary" *ngIf="isAddMode" routerLinkActive="active" (click)="goBackPreviousScreen()">Back</button>
              <button type="button" class="btn btn-primary" *ngIf="!isAddMode" routerLinkActive="active" (click)="goBackCurrentScreen()">Back</button>
              <button type="button" class="btn btn-primary"  routerLinkActive="active" [disabled]="!isAdded" (click)="gotoProductAdd()" *ngIf="isAddMode">Product</button>
              <button type="button" class="btn btn-primary" routerLinkActive="active" (click)="gotoProductUpdate()" *ngIf="!isAddMode">Product</button>
            </div>
            <div class="col_2">
              <button type="button"  class="btn btn-outline-primary" (click)="openCustomModal(false, null)">Cancel</button>
              <button type="submit" class="btn btn-primary" *ngIf="!isAddMode && !isViewModal" [disabled]="isDisabled">Update</button>
              <button type="submit" id="btnSave" class="btn btn-primary" [disabled]="isDisabled" *ngIf="isAddMode">Add</button>
            </div>
          </div>
        </div>
        </form>
      </div>           
      </div>
    </div>


