<div class="charts-container">

  <!-- <div class="row" style="display: flex; justify-content: center;">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="max-width: 400px;">
      <monthly-chart></monthly-chart>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="max-width: 400px;">      
      <bar-chart></bar-chart>
    </div>
  </div>
  <div style="display: flex; justify-content: center;">
      <div class="col-lg-5" style="max-width: 400px;">
      <aggregate-chart></aggregate-chart>
      </div>
    </div> -->
    <iframe class="dashboard-iframe" src="https://app.powerbi.com/reportEmbed?reportId=a09188a2-02ea-4427-af19-d1d4e62421cc&autoAuth=true&ctid=d420b80d-bc1a-429d-b6c6-587896c20153&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
  </div>
<!-- 
<div class="col-12">
<div>
  <div>
    <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
<div class="btns-area">
  <button mat-button mat-raised-button class="btn btn-primary" color="primary" (click)="pieChartLegend=!pieChartLegend">View 1</button>
  <button mat-button mat-raised-button class="btn btn-primary" color="primary" (click)="changeLabels()">View 2</button>
  <button mat-button mat-raised-button class="btn btn-primary" color="primary" (click)="addSlice()">View 3</button>
  <button mat-button mat-raised-button class="btn btn-primary" color="primary" (click)="removeSlice()">View 4</button>
  <button mat-button mat-raised-button class="btn btn-primary" color="primary" (click)="changeLegendPosition()">Change Position</button>
</div>
</div> -->