
<div class="page-content">
        
        <div class="card custom-card member-search">
          <form [formGroup]="memberSearchForm" (ngSubmit)="searchMember(memberSearchForm)">
            <div class="card-header">
                Member Search
            </div>
            <div *ngIf="loaderService.isLoading | async">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
             </div>
            <div class="card-body">
              <div class="mandate-fields">
                <div *ngIf="memSearchSubmitted && !memberSearchForm.valid">Please enter atleast one field</div>
                <div *ngIf="noSearchFieldEntered">Please enter atleast one field</div>
                <div *ngIf="memIdErr.isValid">{{memIdErr.errMsg}}</div>
                <div *ngIf="memSubIdErr.isValid">{{memSubIdErr.errMsg}}</div>
                <div *ngIf="memFnameErr.isValid">{{memFnameErr.errMsg}}</div>
                <div *ngIf="memMnameErr.isValid">{{memMnameErr.errMsg}}</div>
                <div *ngIf="memLnameErr.isValid">{{memLnameErr.errMsg}}</div>
                <div *ngIf="memStartDateErr.isValid">{{memStartDateErr.errMsg}}</div>
                <div *ngIf="memEndDateErr.isValid">{{memEndDateErr.errMsg}}</div>
                <div *ngIf="coverageTierErr.isValid">{{coverageTierErr.errMsg}}</div>
                <div *ngIf="altIdErr.isValid">{{altIdErr.errMsg}}</div>
                <div *ngIf="accountIdErr.isValid">{{accountIdErr.errMsg}}</div>
                <div *ngIf="memMaxMinErr.isValid">{{memMaxMinErr.errMsg}}</div>
              </div>  
                <div class="form-row">
                  <div class="form-field">
                    <label class="form-field-label">Account ID</label>
                    <div class="form-field-input">
                      <input #focusMemSearch type="text" class="form-control field-input-text" (keyup)="validateInputIDs($event.target.value,'clientId')" formControlName="clientId"  [ngClass]="{ 'is-invalid': accountIdErr.isValid }"/>  <!--(VE 13-08-2021 )-->
                    </div>
                </div>
                <div class="form-field">
                  <label class="form-field-label">Medica Benefit Plan ID</label>
                  <div class="form-field-input">
                    <input type="text" class="form-control field-input-text" formControlName="benefitPlanId" />
                  </div>
              </div>
              <div class="form-field">
                <label class="form-field-label">Coverage Tier</label>
                <div class="form-field-input">
                  <input type="text" 
                   class="form-control field-input-text" formControlName="tier" (keyup)="validateInputNames($event.target.value,'tier')" [ngClass]="{ 'is-invalid': coverageTierErr.isValid }" /><!--(VE 13-08-2021 )-->
                </div>
            </div>
                <div class="form-field">
                    <div class="form-field-label">
                        <label>Medica Member ID</label>
                    </div>
                    <div class="form-field-input">
                      <input #focusMemSearch type="text" class="form-control field-input-text"(keyup)="validateInputIDs($event.target.value,'MemberID')" formControlName="MemberId" [ngClass]="{ 'is-invalid': memIdErr.isValid }"/>  <!--(VE 13-08-2021 )-->
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">
                        Medica Subscriber ID</label>
                    <div class="form-field-input">
                      <input type="text" class="form-control field-input-text" formControlName="SubscriberId" (keyup)="validateInputIDs($event.target.value,'SubscriberId')"[ngClass]="{ 'is-invalid': memSubIdErr.isValid }" /><!--(VE 13-08-2021 )-->
                    </div>
                </div>
                <!--(VE 28-Jul-2021  starts)-->
                <div class="form-field">
                  <label class="form-field-label">Alternate Member ID</label>
                  <div class="form-field-input">
                    <input type="text" class="form-control field-input-text"formControlName="alternateId" (keyup)="validateInputIDs($event.target.value,'alternateId')" [ngClass]="{ 'is-invalid': altIdErr.isValid }" /> <!--(VE 13-08-2021 )-->
                  </div>
              </div>
              <!--(VE 28-Jul-2021  ends)-->
                <div class="form-field">
                    <label class="form-field-label">Member First Name</label>
                    <div class="form-field-input">
                      <input type="text" class="form-control field-input-text" formControlName="Fname" (keyup)="validateInputNames($event.target.value,'Fname')"  [ngClass]="{ 'is-invalid': memFnameErr.isValid }"/><!--(VE 13-08-2021 )-->
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member Last Name</label>
                    <div class="form-field-input">
                      <input type="text"  
                     class="form-control field-input-text" formControlName="Lname"(keyup)="validateInputNames($event.target.value,'Lname')" [ngClass]="{ 'is-invalid':memLnameErr.isValid }"/><!--(VE 13-08-2021 )-->
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member Middle Name</label>
                    <div class="form-field-input">
                      <input type="text"  class="form-control field-input-text" formControlName="Mname" (keyup)="validateInputNames($event.target.value,'Mname')" [ngClass]="{ 'is-invalid':memMnameErr.isValid }"/> <!--(VE 13-08-2021 )-->
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Gender</label>
                    <div class="form-field-input">
                        <select class="form-control" formControlName="Gender">
                            <option value='' selected></option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member Start Date</label>
                    <div class="form-field-input">
                        <input type="date" value="MM/DD/YYYY" class="form-control field-input-text" formControlName="MemberStartDate" max="2999-12-31" />
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Member End Date</label>
                    <div class="form-field-input">
                        <input type="date" value="MM/DD/YYYY" class="form-control field-input-text" formControlName="MemberEndDate" max="2999-12-31" />
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-field-label">Birth Date</label>
                    <div class="form-field-input">
                        <input type="date" value="MM/DD/YYYY" class="form-control field-input-text" formControlName="DateOfBirth" [max]="today" />
                    </div>
                </div>
                <!-- <div class="form-field">
                    <label class="form-field-label">Status</label>
                    <div class="form-field-input">
                        <input type="text" class="form-control field-input-text" formControlName="status"/>
                    </div>
                </div> -->
                <!-- <div class="form-field" style="width: 200px; left: 11%;">
                <div class="form-group switch-group" style="width: 100%">
                    Active
                      <label class="switch">
                        <input type="checkbox" class="success" formControlName="Status">
                        <span class="slider round"></span>
                      </label>                  
                </div> </div> -->
            </div>
            </div>
            <div class="card-footer">
              <div class="member-search-btns-area">  
                <div class="col_1"> 
                  <!--(VE 9/8/2021 starts)--> 
                  <div>
                    
                <div class="range-area">
                  <span>Limit &nbsp;</span>
                <input type ="number" class="form-control" formControlName="maxPage" (keyup)="limit($event.target.value)" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                </div>
                </div>  
                </div>
                  <!--(VE 9/8/2021 ends)--> 
                  <div class="col_2">
                    <button class="btn btn-outline-primary" type="button" (click)="resetMemberSearch()">Reset</button>    
                    <button class="btn btn-primary">Search</button>  
                  </div>          
              </div>
            </div>
        </form>
        </div>
        
     
        <div *ngIf="isSearchDataThere" class="member-search-results-area">      
          <div class="card">    
          <div class="card-header">
            <label>Member Search Results</label>
            <div class="col2">
              <div class="fa fa-download" title="Export to Excel" (click)="exportAsXLSX()"></div> <!--(VE 4/8/2021 )-->
              <alert></alert>
            </div>
            </div>
            <div class="card-body">
              <div class="card-table-area members-table-area" >
                  <div>
                      <!-- <div class="cust-add-area">
                          <span class="fa fa-plus-circle" (click)="openCustomModal(true, null)"></span>
                      </div>     -->
                      <div class="member-table-wrap">
                        <table mat-table matSort #memberSearchTable [dataSource]="searchDataSource" class="table table-bordered table-striped card-table">
                      
                          <ng-container matColumnDef="memberHrid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header  > Medica Member ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.memberHrid}} </td>
                          </ng-container>
                          <ng-container matColumnDef="clientName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Account Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                          </ng-container>
                          <ng-container matColumnDef="contractId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.contractId}} </td>
                          </ng-container>  
                          <!--(VE 30-07-2021 starts)-->
                          <ng-container matColumnDef="benefitPlanId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Medica Benefit Plan ID </th>
                            <td mat-cell *matCellDef="let element" > {{element.benefitPlanId}} </td>
                          </ng-container>
                          <ng-container matColumnDef="tier">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Coverage Tier </th>
                            <td mat-cell *matCellDef="let element" > {{element.tier}} </td>
                          </ng-container>
                           <!--(VE 30-07-2021 ends)-->
                          <ng-container matColumnDef="planId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="show" > Plan ID </th><!--(VE 30-07-2021)-->
                            <td mat-cell *matCellDef="let element" [hidden]="show" > {{element.planId}} </td><!--(VE 30-07-2021)-->
                          </ng-container>
                          <ng-container matColumnDef="tierId"><!--(VE 30-07-2021)-->
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="show" > Tier Id</th><!--(VE 30-07-2021)-->
                            <td mat-cell *matCellDef="let element" [hidden]="show"> {{element.tierId}} </td>
                          </ng-container>
                          <ng-container matColumnDef="subscriberId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Medica Subscriber ID</th>
                            <td mat-cell *matCellDef="let element"> {{element.subscriberId}} </td>
                          </ng-container>
                          <ng-container matColumnDef="alternateId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Alternate Member ID
          
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.alternateId}} </td>
                          </ng-container>
                          <ng-container matColumnDef="fname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >First Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
                          </ng-container>
                          <ng-container matColumnDef="lname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Last Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
                          </ng-container>
                          <ng-container matColumnDef="mname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Middle Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.mname}} </td>
                          </ng-container>
                          <ng-container matColumnDef="memberStartDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Member Start Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.memberStartDate | date:'MM/dd/yyyy'}} </td>
                          </ng-container>
                          <ng-container matColumnDef="memberEndDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Member End Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.memberEndDate | date:'MM/dd/yyyy'}} </td>
                          </ng-container>
                          <ng-container matColumnDef="dateOfBirth">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Birth Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'MM/dd/yyyy'}} </td>
                          </ng-container>
                          <ng-container matColumnDef="gender">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Gender </th>
                            <td mat-cell *matCellDef="let element"> {{element.gender=='M'?'Male':'Female'}} </td>
                          </ng-container>
                          <ng-container matColumnDef="laserValue">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="show">Laser Value </th>
                            <td mat-cell *matCellDef="let element" [hidden]="show"> {{element.laserValue}} </td>
                          </ng-container>
                          <ng-container matColumnDef="isUnlimited">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="show">Is Unlimited </th>
                            <td mat-cell *matCellDef="let element" [hidden]="show"> {{element.isUnlimited}} </td>
                          </ng-container>
                          <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status==1?'Active':'Inactive'}} </td>
                          </ng-container>
                          <ng-container matColumnDef="userId" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element" class="action-link"> 
                              <span class="view-icon" 
                                    (click)="openViewModal(true, element)" title="View"></span>
                              <span class="fa fa-edit" 
                              (click)="openCustomModal(true, element)" *ngIf="isAdmin"></span>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                      </div>
                      <mat-paginator [pageSizeOptions]="[100, 500, 999]" showFirstLastButtons></mat-paginator> 
                      
                  </div>
              </div>
          </div>
          </div>
        </div>
        <div class="no-grid-results" *ngIf="memSearchError">
            <h3>Could not find the Search Results. Please try again</h3>
        </div>
        <!-- <div *ngIf="noRecordsFound" class="no-records-found">
          <h3>No Records Found</h3>
        </div> -->
 </div> <!-- end of page-content-->


<!-- The Add/Update Member Modal -->
<div class="modal fade custom-modal" role="dialog" [ngClass]="{'view-modal':isViewModal}" [ngStyle]="{'display': isCustomModalOpen ? 'block' : 'none', 'opacity': 1}">
  
  <div class="modal-dialog modal-dialog-centered" style="max-width: 690px; top: 7vh;">
    <div class="modal-content">        
      <!-- Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title" *ngIf="!isViewModal">
              <span *ngIf="isAddMode">Add Member</span>
              <span *ngIf="!isAddMode">Update Member</span>
          </h4>
          <h4 class="modal-title" *ngIf="isViewModal">
              <span>Member</span>
          </h4>
          <a class="fa fa-2x fa-times-circle" (click)="openCustomModal(false, null)">
          </a>
      </div> 
      <!-- Modal body -->
  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
      <div class="modal-body"> 
       <div class="member-search-area">
           <div class="mandate-fields">
             <span *ngIf="submitted && !memberForm.valid">Fields marked with * are mandatory</span>
           </div>
       <div class="member-form-wrap">
           <div class="row">                
             <div class="col-md-4">
               <div class="form-group">
                 <label>Account ID<small class="starmark">*</small></label>
                 <select #focusElem formControlName="clientId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clientId.errors }">
                   <option [value]="uClientId">
                     {{uClientId}}
                   </option>
                </select>  
               </div>
             </div>            
             <div class="col-md-4">
               <div class="form-group">
                 <label>Contract ID<small class="starmark">*</small></label>
                 <select formControlName="contractId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contractId.errors }">
                   <option [value]="uContractId">{{uContractId}}</option>
                 </select>
               </div>
             </div>            
             <div class="col-md-4">
               <div class="form-group">
                 <label>Plan ID<small class="starmark">*</small></label>
                 <select formControlName="planId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.planId.errors }">
                   <option [value]="uPlanId">{{uPlanId}}</option>
                 </select>
               </div>
             </div>
           </div>
           <div class="row">    
             <div class="col-md-4">
               <div class="form-group">
                 <label>Medica Member ID<small class="starmark">*</small></label>
                 <input type="text" formControlName="memberId" maxlength="20"  class="form-control" [ngClass]="{ 'is-invalid':memIdErr.isValid }"/>
               </div>
             </div>
             <div class="col-md-4">
                <div class="form-group">
                  <label>Alternate Member ID</label>
                  <input type="text" formControlName="alternateId" maxlength="20" class="form-control" />
                </div>
              </div>  
           <div class="col-md-4">
            <div class="form-group">
              <label>Medica Benefit Plan ID</label> 
              <input type="text" formControlName="benefitPlanId" maxlength="20" class="form-control" />
            </div>
          </div>                                
         </div>
         <div class="row">
           <!--(VE 30-07-2021 starts)-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Coverage Tier</label>
              <input type="text" formControlName="tier" maxlength="20" class="form-control" />
            </div>
          </div>  
          <!--(VE 30-07-2021 ends)--> 
           <div class="col-md-4">
               <div class="form-group">
                 <label>First Name<small class="starmark">*</small></label>
           <input type="text" formControlName="fname" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" />
               </div> 
           </div>  
             <div class="col-md-4">
               <div class="form-group">
                 <label>Last Name<small class="starmark">*</small></label>
           <input type="text" formControlName="lname" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />
               </div>   
             </div>  
         </div>
            <div class="row"> 
               <div class="col-md-4">
                 <div class="form-group">
                   <label>Middle Name</label>
             <input type="text" formControlName="mname" maxlength="50" class="form-control" />
                 </div> 
               </div>
             <div class="col-md-4">
                  <div class="form-group">
                     <label>Birth Date<small class="starmark">*</small></label> 
                     <input type="date" value="MM/DD/YYYY" formControlName="dateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" max="2999-12-31" />                            
                   </div>
             </div>  
             <div class="col-md-4">
                  <div class="form-group">
                     <label>Member Start Date<small class="starmark">*</small></label> 
                     <input type="date" value="MM/DD/YYYY" formControlName="memberStartDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.memberStartDate.errors }" max="2999-12-31"/>
                     
                   </div>
             </div>
            </div>
            <div class="row">
             <div class="col-md-4">
                  <div class="form-group">
                     <label>Member End Date<small class="starmark">*</small></label> 
                     <input type="date" value="MM/DD/YYYY" formControlName="memberEndDate" class="form-control" max="2999-12-31"/>
                     
                   </div>
             </div>
             <div class="col-md-4">
                  <div class="form-group">
                     <label>Medica Subscriber ID</label> 
                     <input type="text" formControlName="subscriberId" maxlength="20" class="form-control"/>                        
                   </div>
             </div>
             <div class="col-md-4">
               <div class="form-group">
                  <label>Subscriber First Name</label> 
                  <input type="text" formControlName="subscriberFname" maxlength="50" class="form-control"/>                        
                </div>
          </div>
           </div>
           <div class="row">
             <!-- <div class="col-md-4">
                <div class="form-group switch-group">
                 Is Unlimited
                   <label class="switch">
                     <input type="checkbox" class="success" formControlName="isUnlimited" (change)="isUnlimitedChecked()">
                     <span class="slider round"></span>
                   </label>                  
             </div>
             </div>     -->
          <div class="col-md-4">
            <div class="form-group">
               <label>Subscriber Last Name</label> 
               <input type="text" formControlName="subscriberLname" maxlength="50" class="form-control"/>                        
             </div>
          </div>
             <div class="col-md-4">
                  <div class="form-group">
                     <label>Gender<small class="starmark">*</small></label>  
                     <select class="form-control" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                       <option value=''>Select Gender</option>
                       <option value="M">Male</option>
                       <option value="F">Female</option>
                     </select>
                   </div>
             </div>   
             <div class="col-md-4">
               <div class="form-group">
                  <label>Laser Value</label> 
                  <input type="number" formControlName="laserValue" maxlength="20" class="form-control"/>   <!--PV 08-05-2021  -->                          
                </div>
             </div>   
            </div>
            <div class="row">  
             <div class="col-md-4" *ngIf="!isAddMode">
                 <div class="form-group switch-group">
                     Exclusions
                       <label class="switch">
                         <input type="checkbox" class="success">
                         <span class="slider round"></span>
                       </label>                  
                 </div>
             </div>                    
            </div>
       </div>      
     </div>
   </div> 
   <div class="modal-footer">
        <div class="modal-footer-btns">
         <div class="col_1"> </div>
         <div class="col_2">
          <button type="button" class="btn btn-outline-primary" (click)="openCustomModal(false, null)">Cancel</button>
          <button type="submit" class="btn btn-primary" *ngIf="!isAddMode && !isViewModal">Update</button>
          <button type="submit" class="btn btn-primary" *ngIf="isAddMode">Add</button>
         </div>
        </div>
     </div>
   </form>
      </div>           
      </div>
    </div>


 