

.member-search-btns-area{
    padding: 0;
    margin: 5px 0;
}
.member-search-btns-area .btn{
    margin-right: 15px;
}
.no-grid-results{
    padding: 30px 15px;
}
.no-grid-results h3{
    text-align: center;
    color: #ff0000;
    font-size: 1.4rem;
}